<script type="text/template" id="about">

    <div id="wrapper" class="appsize">

        <div class="allcont logsize">

            <% include header_help %>

            <div class="basicrow m-top">
                <div class="container">
                    <div class="basicr-line-i">
                        <div class="fulltitle m-top-i f-btitle">
                            <span><img src="images/ico_terminosCondiciones.png" style="height: 50px; width: 50px; margin: 10px"></span>
                            &nbsp;Acerca de
                        </div>
                    </div>
                </div>
            </div>

            <div class="basicrow f-reg text-justify f-black diffr m-top-i">

                <div class="container">

                    En Claro Puerto Rico queremos que tengas la mejor experiencia, con acceso rápido y fácil a toda la información de tu cuenta.   Por eso te ofrecemos Mi Claro App para que puedas:<br/><br/>

                    <ul>
                        <li>Tener información de tu balance.</li>
                        <li>Hacer tus pagos convenientemente con ATH, Tarjeta de Crédito o Cuenta de Banco.</li>
                        <li>Ver tu factura electrónicamente.</li>
                        <li>Revisar tus consumos.</li>
                        <li>Darle acceso a los números con los cuales compartes tu cuenta.</li>
                        <li>Cambiar a los planes de tu conveniencia.</li>
                        <li>Suscribirte a Débito Directo.</li>
                        <li>Actualizar tu cuenta.</li>
                        <li>Comprar equipos.</li>
                        <li>Chatear con nuestros representantes.</li>
                        <li><b>Claro Club:</b> Programa de Lealtad que te premia al ser un cliente Claro con recompensas y ofertas exclusivas de establecimientos asociados.</li>
                        <li><b>Referidos:</b>  Programa de Lealtad donde refieres y ganas cupones de descuento.</li>
                        <li>Y Mucho Más.</li>
                    </ul>

                    <br>
                    <br>
                    Mantenla actualizada para que disfrutes de los Updates que constantemente le hacemos a nuestra aplicación.
                    Si necesitas ayuda puedes escribirnos a <a href="mailto:miclaro@claropr.com">miclaro@claropr.com</a>.  Te asistiremos rápidamente.
                </div>
            </div>

            <div class="basicrow m-top-i graybg">
                <div class="container">
                    <div class="basicrow m-bott">

                        <div class="basicrow m-top-i">
                            <div class="row refdef">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="basicrow text-center">
                                        <img width="100%" class="ref-icons" src="images/toolsicon3.png">
                                    </div>

                                    <div class="basicrow f-black roboto-r f-reg text-center m-top">
                                        <div class="basicrow f-bmed roboto-b">
                                            Versi&oacute;n <%= version %>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="basicrow">
                <div class="container">
                    <div class="basicrow m-top m-bott">

                        <div class="basicrow m-top-i">
                            <div class="row refdef">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="basicrow text-center">
                                        <img width="100%" class="ref-icons" src="images/ref-gmail-icon.png">
                                    </div>

                                    <div class="basicrow f-black roboto-r f-reg text-center m-top">
                                        <div class="basicrow f-bmed roboto-b">
                                            <a href="mailto:miclaro@claropr.com" class="cdef">miclaro@claropr.com&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</script>
