<script type="text/template" id="data_plan">

	<link href="css/circle-big.css" rel="stylesheet">

	<div id="wrapper" class="appsize">

		<div class="popupbg" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					T&eacute;rminos y Condiciones
				</div>

				<div class="basicrow m-top">
					<div class="termgbg">
						<div class="termr-t">
							Los Paquetes Adicionales de Datos pueden ser comprados por clientes de Banda Ancha y clientes de Bundle de Voz con Internet Móvil.

							El paquete seleccionado será agregado con cargo a la próxima factura, siempre y cuando la cuenta no haya llegado a su límite de crédito, de lo contrario el pago deberá ser realizado al momento con cargo a una tarjeta de crédito.

							Caducidad: Tienes hasta fin de ciclo de facturación/mes para usarlo ó se expira si hay remanente.

							No se podrá comprar paquetes de datos adicionales antes de que tu data haya sido bloqueada/reducida.

							Son para uso local en Puerto Rico y en Estados Unidos.

						</div>
					</div>
				</div>

				<div class="basicrow text-center m-top-i lessm">
					<div id="close-terms" class="btns def-i red centr vcenter rippleR">
						<span class="tabcell">
							Cerrar&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<% if(wirelessAccount) {%>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-08"></span> Paquetes Adicionales de Datos
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
								<span class="tabcell">
									N&uacute;mero de Cuenta
								</span>
							</label>

							<select class="sel-f sidesel" id="select-account">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> ><%= value.Account %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">
				<div class="container">
					<div class="basicrow mbott bg-gray allpads bg-gray-u f-reg roboto-r f-black text-justify">
						Selecciona el <span class="roboto-b">n&uacute;mero de cuenta y n&uacute;mero de suscriptor</span> a la que deseas que se le aplique la compra.
					</div>

					<div class="autowcont notopbrd">

						<% _.each(subscribers, function(subscriber, subscriberIndex) { %>

						<div data-toggle="collapse" data-target="#subscriber<%= subscriberIndex %>" class="digs-box vcenter select-subscriber" data-index="<%= subscriberIndex %>" data-subscriber="<%= subscriber.subscriberNumberField %>">
							<div class="tabcell">
								<div class="autorow pull-left">
									<span class="roboto-l"><%= typeOfTelephony(subscriber.productTypeField) %></span> <span class="roboto-m"><%= formatNumber(subscriber.subscriberNumberField) %></span>
								</div>

								<div class="autorow pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>

									<i class="fa fa-plus" aria-hidden="true"></i>
								</div>
							</div>
						</div>

						<div id="subscriber<%= subscriberIndex %>" class="collapse">

							<div class="basicrow tabtopb f-black roboto-r f-reg">

								<div class="basicrow">
									<div class="basicrow">
										<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
											<div class="tabcell">
												Ciclo de Facturaci&oacute;n
											</div>
										</div>

										<div class="autocont f-black roboto-m f-bmed othrdef pull-right vcenter">
											<div class="tabcell ciclo-fact">

											</div>
										</div>
									</div>

									<div class="basicrow m-top-ii">
										<div class="logline full"></div>
									</div>
								</div>

								<div class="basicrow m-top-i m-bott-ii">

									<div class="plan-basic-content">

									</div>

									<div class="basicrow m-top-ii">
										<div class="logline full"></div>
									</div>

									<div class="basicrow m-top-i m-bott not-additional-packs" style="display: none">
										<h3> En estos momentos no tenemos Paquetes Adicionales de Datos para este suscriptor.</h3>
									</div>
								</div>

							</div>

							<div class="carousel-container">
								<div class="basicrow f-big m-bott-ii text-center">
									Paquetes de Datos Adicionales
								</div>
								<!-- [INIT CAROUSEL PLANES EN MOVIL] -->
								<div id="carousel<%= subscriberIndex %>" class="basicrow carousel slide visible-xs" data-interval="false" data-ride="carousel2">
									<!-- Indicators -->
									<ol class="carousel-indicators" style="display: none;">

									</ol>

									<!-- Wrapper for slides -->
									<div class="carousel-inner">

									</div>


									<!-- Left and right controls -->
									<a class="left carousel-control" href="#carousel<%= subscriberIndex %>" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left">
										<i class="fa fa-angle-left" aria-hidden="true"></i>
									</span>
									</a>
									<a class="right carousel-control" href="#carousel<%= subscriberIndex %>" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right">
										<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
									</a>
								</div>
								<!-- [END CAROUSEL PLANES EN MOVIL] -->

								<div class="basicrow topbord-i">
									<div class="basicrow m-top m-bott text-center">
										<a class="linkdefs link-terms">
											Ver T&eacute;rminos y Condiciones&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</div>

						</div>

						<% });  %>

					</div>

				</div>
			</div>

			<%} else { %>

			<div class="subtitle nbott din-b f-little text-center f-black vcenter">
				<div class="tabcell">
					AVISO
				</div>
			</div>

			<div class="nbott din-b f-little text-center f-red">Los paquetes de datos no se pueden aplicar a suscriptores de telefon&iacute;a fija.</div>

			<% } %>

			<div id="errorCont" style="display:none">
				<div class="subtitle nbott din-b f-little text-center f-black vcenter">
					<div class="tabcell">
						AVISO
					</div>
				</div>

				<div class="nbott din-b f-little text-center f-red" id="errorMsg"></div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>