<script type="text/template" id="device_payment_1">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-25"></span> Mis Servicios
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
							</label>

							<select disabled class="sel-f sidesel" id="select-account">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>" <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> ><%= value.Account %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">
				<div class="container">
					<div class="autowcont notopbrd m-top-ii">
						<div class="digs-box vcenter">
							<div class="tabcell">
								<div class="autorow pull-left">
									<span class="roboto-l"><%= subscriberType %></span> <span class="roboto-m"><%= selectedSubscriber %></span>
								</div>
							</div>
						</div>

						<div class="basicrow tabtopb f-black roboto-r f-reg">
							<div class="basicr-line f-big">
								Pagar Equipo
							</div>

							<div class="basicrow m-top-i">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">
										<div class="row">
											<div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 text-center">
												<img width="100%" class="ph-equip" src="<%= equipmentImage %>">
											</div>

											<div class="col-xs-12 col-sm-9 col-md-8 col-lg-8 h-mtop-ii">
												<div class="basicrow f-big">
													<%= equipmentName %>
												</div>

												<div class="basicrow m-top">
													<div class="userinfo nomtops full">
														<div class="basicrow">
															<div class="redstat">
																<div class="autorow roboto-r pull-left">
																	Monto Cuota
																</div>

																<div class="autorow roboto-b pull-right">
																	&#36;<%= amountQuota %>
																</div>
															</div>

															<div class="redstat m-top-ii">
																<div class="autorow roboto-r pull-left">
																	Cuotas Restantes
																</div>

																<div class="autorow roboto-b pull-right">
																	<%= remainingQuotas %>
																</div>
															</div>

															<div class="redstat m-top-ii">
																<div class="autorow roboto-r pull-left">
																	Total
																</div>

																<div class="autorow roboto-b pull-right">
																	&#36;<%= amountTotal %>
																</div>
															</div>
														</div>
													</div>

													<div class="basicrow m-top">
														<div class="basicrow roboto-b">
															Deseo:
														</div>
													</div>

													<div class="basicrow">
														<div class="autorow pull-left full-c-i">
															<div class="autorow pull-left m-top m-right">
																<input id="pay1" name="group" type="radio"> <label for="pay1">Pagar deuda total</label>
															</div>

															<div class="autorow pull-left m-top">
																<input id="pay2" name="group" type="radio" checked> <label for="pay2">Pagar una cantidad cuotas</label>
															</div>
														</div>

														<div class="autorow pull-right full-c-i m-top-ii" id="select-quotes">
															<div class="quota-bxs">
																<div class="quot-i text-center roboto-b f-white vcenter" id="quotes-to-pay" data-value="1">
																	<div class="tabcell" id="quotes-container">
																		1
																	</div>
																</div>

																<div class="quot-ii text-center roboto-b f-gray-i vcenter" id="minus-quote">
																	<div class="tabcell">
																		-
																	</div>
																</div>

																<div class="quot-ii text-center roboto-b f-gray-i vcenter" id="plus-quote">
																	<div class="tabcell">
																		+
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="basicrow m-top-i">
													<div class="logline full"></div>

													<div class="basicrow m-top text-center">
														<div class="servs-monthly">
															<div class="basicrow">
																<span class="roboto-b">
																	Total a Pagar
																</span>
																<br/>
																<span class="f-red f-semi roboto-m" id="total-to-pay">
																	&#36;0.00
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow text-center m-top">
								<div class="btns def-i red pull-right vcenter rippleR" id="next">
									<span class="tabcell">
										Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
								</div>

								<div class="btns def-i gray pull-left vcenter" id="cancel">
									<span class="tabcell">
										Cancelar
									</span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
