<script type="text/template" id="header_help">

	<div class="menubar">
		<div class="header container rel">
			<div id="btn-menu" class="mc-logo mcenter">
				<span class="autocont vcenter">
					<span class="tabcell">
						<img width="100%" src="images/miclaro-logo.png">
					</span>
				</span>
			</div>

			<div class="item pull-left" id="btn-back">
				<img class="dispicon" src="images/back.svg">
			</div>
		</div>
	</div>

</script>


<!--<script type="text/template" id="header_help">-->

<!--	<div class="menubar">-->
<!--		<div class="container rel">-->
<!--			<div id="btn-menu" class="mc-logo mcenter">-->
<!--				<span class="autocont vcenter">-->
<!--					<span class="tabcell">-->
<!--						<img width="100%" src="images/miclaro-logo.png">-->
<!--					</span>-->
<!--				</span>-->
<!--			</div>-->
<!--			<div class="btn-back" id="btn-back">-->
<!--				<img class="dispicon" width="100%" src="images/back.svg">-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--    -->
<!--</script>-->