<script type="text/template" id="refiere_step_2">

	<div id="wrapper" class="appsize">

		<div class="popupbg popup-error-email" style="display:none;">

			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					Ocurrio un error
				</div>

				<div class="basicrow">
					<div class="basicrow f-reg f-black roboto-r m-top">
						Estimado cliente los siguientes contactos no recibieron su invitaci&oacute;n:
					</div>

					<div class="basicrow m-top-u" id="mails-failed">

					</div>
				</div>

				<div class="basicrow f-reg f-black roboto-r m-top-i">
					Por estas posibles razones:
				</div>

				<div class="basicrow">
					<ul class="redb-i">
						<li>La cuenta de correo electr&oacute;nico es invalida.</li>

						<li>El buz&oacute;n esta lleno y el mensaje fue rechazado.</li>

						<li>La cuenta de correo electr&oacute;nico esta inactiva.</li>
					</ul>
				</div>

				<div class="basicrow text-center m-top-i">
					<div id="close-errors" class="red rippleR btns savech centr vcenter">
						<span class="tabcell">
							Ok&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="popupbg popup-terms" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-bigmed roboto-m">
					T&eacute;rminos y Condiciones - Reglas de Redención
				</div>

				<div class="basicrow m-top">
					<div class="termgbg">
						<div class="termr-t">
							<h4 style="text-align: center;">Programa Refiere y Gana</h4>
							<h5 style="text-align: center; color:#ef3829;">Términos y Condiciones- Reglas de Redención</h5>

							<h5 style="overflow: hidden;">I. Descripción del Programa</h5>
							El Programa de Referidos (en adelante, el Programa) permite que cualquier cliente activo de Claro pueda referir nuevos clientes (sean éstos familiares, amigos o conocidos) sin importar el tiempo que lleve como cliente en Claro. Tanto el cliente existente, como la persona referida, podrían disfrutar de un descuento que está condicionado a que el cliente referido complete la adquisición del producto o servicio participante en el Programa. A continuación, se detallan las reglas de participación del Programa según el producto o servicio para el cual el cliente prospecto haya sido referido.

							<h5 style="overflow: hidden;">II. Condiciones para participar en el Programa</h5>
							Para poder participar y disfrutar de los beneficios del programa deben cumplirse las siguientes condiciones:

							1. Cliente que refiere-

							• Debe estar suscrito a Mi Claro.

							• Debe estar suscrito a facturación electrónica.

							• Tener cuenta activa con balance al corriente.

							• Estar activo en una cuenta Móvil “Update” o venta a plazos, BYOP Credit Limit o Servicio de Internet y Televisión 2 Play y 3 Play, con contrato de 24 meses.

							• Referir amigos, familiares amigos o conocidos a través del enlace del Programa de Referidos en Mi Claro. No existirá límite de referidos.

							• Redimir beneficios cuando se encuentren disponibles en su cuenta del Programa.

							• Aceptar los términos y condiciones del programa.

							2. Cliente referido-

							• Debe suscribirse a uno de los productos requeridos en el Programa de Referidos.

							• Activar una cuenta Móvil “Update” o venta a plazos, BYOP Credit Limit o Servicio de Internet y Televisión 2 Play y 3 Play con contrato de 24 meses.

							• Debe suscribirse a Mi Claro.

							• Debe suscribirse a facturación electrónica.

							• Aceptar los términos y condiciones del Programa.

							• Redimir beneficios cuando se encuentren disponibles en su cuenta del Programa en Mi Claro.

							• Mantener cuenta activa con balance corriente para redimir sus beneficios.

							• Puede referir amigos, familiares o conocidos a través del enlace del Programa de Referidos en Mi Claro. No existirá límite de referidos.

							<h5 style="overflow: hidden;">III. Aplicación del beneficio</h5>
							1. Cliente que refiere-

							• Recibirá un cupón de descuento que al ser redimido le representará el beneficio correspondiente al servicio de la cuenta que origina el referido.
							<p class="abc">
								a. Móvil Update- Cupón de $50 de descuento para pago de su factura
								b. BYOP Credit Limit- Cupón de $25 de descuento para pago de su factura
								d. FIJO- Cupón de 50% de descuento en la renta del plan fijo en cuentas 2Play y 3Play (No aplica a cargos reglamentarios, cargos por franquicia, IVU, cargos por STB, canales Premium, canales de adultos y paquetes complementarios.)
								e. Individual Residencial (Cuentas Convergentes) – 50% de descuento en la renta del plan fijo (El descuento se incluye al plan de IPTV, si la cuenta es 3Play.)
							</p>
							• El cliente existente podrá disfrutar su cupón de descuento a partir del octavo día de la fecha de activación de su servicio Móvil “Update”, BYOP “Credit Limit” o una vez se complete la instalación del servicio fijo y se genere su primera factura.

							• La aplicación de su descuento solo podrá ser gestionada a través de la cuenta del cliente del Programa de Referidos en Mi Claro.

							• No se podrá utilizar el beneficio en combinación con otras promociones u ofertas.

							• El cupón de descuento no se utilizará como crédito o reembolso a cuenta en caso de cancelación.

							• Los cupones de descuentos no son transferibles.

							• Una vez acepte redimir su cupón de descuento el mismo perderá su validez, este no podrá ser cancelado, reversado o reembolsado.

							• En el caso de los descuentos para cuentas Móvil Update y BYOP Credit Limit y solo podrá redimir un cupón por factura.
							<p class="abc">
								a. Si el valor del cupón de descuento redimido es mayor al balance pendiente de su factura Móvil Update o BYOP Credit Limit, al redimir este descuento el cliente perderá la diferencia del valor restante.

								b. Si el valor del cupón de descuento redimido es menor al balance pendiente de su factura Móvil Update o BYOP Credit Limit, el cliente es responsable de pago remanente de su factura en o antes de la fecha de vencimiento.

								c. Solo se podrá redimir un cupón de descuento para las cuentas Fijo (2Play, 3Play) y el mismo se reflejará en su próximo ciclo de factura.
							</p>
							• Al momento de redimir su beneficio es importante que la cuenta NO esté suspendida o con atrasos. De estarlo, el cliente debe poner la cuenta al corriente para poder redimir su beneficio.

							• El beneficio expira en un período de 12 meses.

							• La fecha de expiración del cupón de descuento será calculada tomando como inicio la fecha de envío del cupón.

							• Cliente debe gestionar la redención de su cupón de descuento a través de Mi Claro.

							• Claro no se hace responsable por cupones no redimidos por el cliente.

							2. Cliente referido

							• Para reclamar su beneficio, debe llevar copia impresa o digital de la invitación al Programa recibida, que muestre el código del cupón, al momento de la activación de su nuevo servicio móvil o fijo o hacer mención del mismo si se solicita activación de línea fijo por teléfono.

							• Activar uno de los productos o servicios aplicables del Programa. Estos son: Móvil “Update”, BYOP Credit Limit, Servicio de Internet y Televisión 2 Play y 3 Play con contrato de 24 meses.

							• Al suscribirse a uno de los servicios participantes, el cliente podría recibir el descuento que corresponda al servicio de la cuenta que adquirió.
							<p class="abc">
								a. Móvil Update- Cupón de $50 de descuento para pago de su factura.
								b. BYOP Credit Limit- Cupón de $25 de descuento para pago de su factura.
								d. FIJO- Cupón de 50% de descuento en la renta del plan fijo en cuentas 2Play y 3Play (No aplica a cargos reglamentarios, cargos por franquicia, IVU, cargos por STB, canales Premium, canales de adultos y paquetes complementarios.)
								e. Individual Residencial (Cuentas Convergentes) – 50% de descuento en la renta del plan fijo (El descuento se incluye al plan de IPTV, si la cuenta es 3Play.)
							</p>
							• La aplicación de su descuento solo podrá ser gestionada a través de la cuenta del cliente del Programa de Referidos en Mi Claro.

							• No se podrá utilizar el beneficio en combinación con otras promociones u ofertas.

							• El cupón de descuento no se utilizará como crédito o reembolso a cuenta en caso de cancelación.

							• Los cupones de descuentos no son transferibles.

							• Una vez aplique su cupón de descuento el mismo perderá su validez, este no podrá ser cancelado, reversado o reembolsado.

							• En el caso de los descuentos para cuentas Móvil Update y BYOP Credit Limit solo podrá redimir un cupón por factura.
							<p class="abc">
								a. Si el valor del cupón de descuento redimido es mayor al balance pendiente de su factura Móvil Update o BYOP Credit Limit, al redimir este descuento el cliente perderá la diferencia del valor restante.

								b. Si el valor del cupón de descuento redimido es menor al balance pendiente de su factura Móvil Update o BYOP Credit Limit, el cliente es responsable de pago remanente de su factura en o antes de la fecha de vencimiento.
							</p>
							• Al momento de redimir su beneficio es importante que la cuenta NO esté suspendida o con atrasos. De estarlo, el cliente debe poner la cuenta al corriente para poder redimir su beneficio.

							• El beneficio expira en un período de 12 meses.

							• La fecha de expiración del cupón de descuento será calculada tomando como inicio la fecha de envío del cupón.

							• Cliente debe gestionar la redención de su cupón de descuento a través de Mi Claro.

							• Claro no se hace responsable por cupones no redimidos por el cliente.

							3. Claro se reserva el derecho de modificar, a su sola discreción y de tiempo en tiempo, estos términos y condiciones y los términos aplicables serán aquellos que estén vigentes al momento de la redención o reclamación del beneficio.
						</div>
					</div>
				</div>

				<div class="basicrow text-center m-top-i lessm">
					<div id="close-terms" class="btns def-i red centr vcenter rippleR">
						<span class="tabcell">
							Aceptar&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="popupbg popup-success" style="display: none">
			<div class="popupcont">
				<div class="basicrow text-center">
					<div class="rdtitles">
						Invitaciones enviadas <span class="roboto-b">exitosamente</span>
					</div>
				</div>

				<div class="basicrow f-reg f-black roboto-r m-top-i">
					Gracias por participar en el Programa de Referidos de Claro. Su invitaci&oacute;n fue enviada a sus contactos.
				</div>

				<div class="basicrow text-center m-top-i">
					<div id="ok-success" class="red btns savech centr vcenter rippleR">
						<span class="tabcell">
							Ok&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow m-bott">
				<div class="refbgmdl">
					<div class="basicrow f-refdef">
						Refiere y Gana <img width="100%" src="images/refgiftimg.png">
					</div>

					<div class="basicrow m-top-i">
						<div class="row">
							<div class="col-xs-12 col-sm-10 col-md-10 col-lg-6 col-sm-offset-1 col-md-offset-1 col-lg-offset-3">
								<div class="basicrow rel">
									<input class="inp-f" type="email" id="email" style="margin-right: auto; margin-left: auto;" placeholder="Ingrese Correos Electrónicos. Ejemplo: n/a@gmail.com; n/a@yahoo.com; n/a@hotmail.com">
								</div>
								<div class="basicrow rel">
									<input class="inp-f" type="text" value="" data-role="tagsinput" id="tags" style="background: transparent; border: none;" placeholder="Ingrese Correos Electrónicos. Ejemplo: n/a@gmail.com; n/a@yahoo.com; n/a@hotmail.com">
								</div>
							</div>
						</div>
					</div>

					<div class="basicrow">
						<div id="btn-next" class="btns centr red refbtn vcenter rippleR">
							<div class="tabcell">
								Invitar a tus amigos
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow">
					<div class="basicrow f-black f-big roboto-r text-center m-top-i">
						Otras maneras de compartir
					</div>

					<div class="basicrow m-top text-center">
						<div id="share-mail" class="refsocials mailng">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>

						<div id="share-face" class="refsocials fcbook">
							<i class="fa fa-facebook-square" aria-hidden="true"></i>
						</div>

						<div id="share-twitter" class="refsocials twtt">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</div>

						<div id="share-wp" class="refsocials whtsapp">
							<i class="fa fa-whatsapp" aria-hidden="true"></i>
						</div>
					</div>

					<div class="basicrow m-top text-center">
						<div class="container">
							<div class="reflinkdef">
								<span id="share-link" style="display: none">

								</span>

								<img id="copy" width="100%" src="images/reflink-copy.png">
							</div>
						</div>
					</div>

					<div class="basicrow roboto-r text-center m-top">
						<input id="checkbox-terms" type="checkbox" style="cursor: pointer;"> <a id="link-terms" class="linkdefs reftermlink">T&eacute;rminos y condiciones de la promoci&oacute;n <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
					</div>
				</div>

				<div class="basicrow bg-gray-i m-top-i ">
					<div class="basicrow">
						<div class="basicrow f-btitle f-black text-center">
							Descuento por Referidos
						</div>

						<div class="basicrow">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
									<div class="row">
										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-top-i">
											<div class="basicrow f-black roboto-b text-center">
													<span id="sumAvialable" class="f-lsemi f-blue">
														$0
													</span><br/><br/>

												<span id="title-available" class="f-bmed">
													Descuentos Disponibles
												</span>
											</div>
										</div>

										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-top-i">
											<div class="basicrow f-black roboto-b text-center">
													<span id="totalReferer" class="f-lsemi f-red">
														0
													</span><br/><br/>

												<span class="f-bmed">
													Amigos Referidos
												</span>
											</div>
										</div>

										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-top-i">
											<div class="basicrow f-black roboto-b text-center">
													<span id="totalRedeem" class="f-lsemi f-red">
														0
													</span><br/><br/>

												<span class="f-bmed">
													Amigos Redimidos
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow ">
					<div class="container">
						<div class="basicrow">
							<div class="row refdef">

								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hrefmtop">

									<div id="btn-faq" class="basicrow text-center">
										<img style ="font-size: 4em;cursor: pointer;width: auto;height: 90px;" src="images/ico_preguntasFrecuentes.png">
										Preguntas frecuentes
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
