<script type="text/template" id="refiere_step_1">

	<div id="wrapper" class="appsize">


		<div class="popupbg popup-term" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-bigmed roboto-m">
					T&eacute;rminos y Condiciones - Reglas de Redención
				</div>

				<div class="basicrow m-top">
					<div class="termgbg">
						<div class="termr-t">
							<h4 style="text-align: center;">Programa Refiere y Gana</h4>
							<h5 style="text-align: center; color:#ef3829;">Términos y Condiciones- Reglas de Redención</h5>

							<h5 style="overflow: hidden;">I. Descripción del Programa</h5>
							El Programa de Referidos (en adelante, el Programa) permite que cualquier cliente activo de Claro pueda referir nuevos clientes (sean éstos familiares, amigos o conocidos) sin importar el tiempo que lleve como cliente en Claro. Tanto el cliente existente, como la persona referida, podrían disfrutar de un descuento que está condicionado a que el cliente referido complete la adquisición del producto o servicio participante en el Programa. A continuación, se detallan las reglas de participación del Programa según el producto o servicio para el cual el cliente prospecto haya sido referido.

							<h5 style="overflow: hidden;">II. Condiciones para participar en el Programa</h5>
							Para poder participar y disfrutar de los beneficios del programa deben cumplirse las siguientes condiciones:

							1. Cliente que refiere-

							• Debe estar suscrito a Mi Claro.

							• Debe estar suscrito a facturación electrónica.

							• Tener cuenta activa con balance al corriente.

							• Estar activo en una cuenta Móvil “Update” o venta a plazos, BYOP Credit Limit o Servicio de Internet y Televisión 2 Play y 3 Play, con contrato de 24 meses.

							• Referir amigos, familiares amigos o conocidos a través del enlace del Programa de Referidos en Mi Claro. No existirá límite de referidos.

							• Redimir beneficios cuando se encuentren disponibles en su cuenta del Programa.

							• Aceptar los términos y condiciones del programa.

							2. Cliente referido-

							• Debe suscribirse a uno de los productos requeridos en el Programa de Referidos.

							• Activar una cuenta Móvil “Update” o venta a plazos, BYOP Credit Limit o Servicio de Internet y Televisión 2 Play y 3 Play con contrato de 24 meses.

							• Debe suscribirse a Mi Claro.

							• Debe suscribirse a facturación electrónica.

							• Aceptar los términos y condiciones del Programa.

							• Redimir beneficios cuando se encuentren disponibles en su cuenta del Programa en Mi Claro.

							• Mantener cuenta activa con balance corriente para redimir sus beneficios.

							• Puede referir amigos, familiares o conocidos a través del enlace del Programa de Referidos en Mi Claro. No existirá límite de referidos.

							<h5 style="overflow: hidden;">III. Aplicación del beneficio</h5>
							1. Cliente que refiere-

							• Recibirá un cupón de descuento que al ser redimido le representará el beneficio correspondiente al servicio de la cuenta que origina el referido.
							<p class="abc">
								a. Móvil Update- Cupón de $50 de descuento para pago de su factura
								b. BYOP Credit Limit- Cupón de $25 de descuento para pago de su factura
								d. FIJO- Cupón de 50% de descuento en la renta del plan fijo en cuentas 2Play y 3Play (No aplica a cargos reglamentarios, cargos por franquicia, IVU, cargos por STB, canales Premium, canales de adultos y paquetes complementarios.)
								e. Individual Residencial (Cuentas Convergentes) – 50% de descuento en la renta del plan fijo (El descuento se incluye al plan de IPTV, si la cuenta es 3Play.)
							</p>
							• El cliente existente podrá disfrutar su cupón de descuento a partir del octavo día de la fecha de activación de su servicio Móvil “Update”, BYOP “Credit Limit” o una vez se complete la instalación del servicio fijo y se genere su primera factura.

							• La aplicación de su descuento solo podrá ser gestionada a través de la cuenta del cliente del Programa de Referidos en Mi Claro.

							• No se podrá utilizar el beneficio en combinación con otras promociones u ofertas.

							• El cupón de descuento no se utilizará como crédito o reembolso a cuenta en caso de cancelación.

							• Los cupones de descuentos no son transferibles.

							• Una vez acepte redimir su cupón de descuento el mismo perderá su validez, este no podrá ser cancelado, reversado o reembolsado.

							• En el caso de los descuentos para cuentas Móvil Update y BYOP Credit Limit y solo podrá redimir un cupón por factura.
							<p class="abc">
								a. Si el valor del cupón de descuento redimido es mayor al balance pendiente de su factura Móvil Update o BYOP Credit Limit, al redimir este descuento el cliente perderá la diferencia del valor restante.

								b. Si el valor del cupón de descuento redimido es menor al balance pendiente de su factura Móvil Update o BYOP Credit Limit, el cliente es responsable de pago remanente de su factura en o antes de la fecha de vencimiento.

								c. Solo se podrá redimir un cupón de descuento para las cuentas Fijo (2Play, 3Play) y el mismo se reflejará en su próximo ciclo de factura.
							</p>
							• Al momento de redimir su beneficio es importante que la cuenta NO esté suspendida o con atrasos. De estarlo, el cliente debe poner la cuenta al corriente para poder redimir su beneficio.

							• El beneficio expira en un período de 12 meses.

							• La fecha de expiración del cupón de descuento será calculada tomando como inicio la fecha de envío del cupón.

							• Cliente debe gestionar la redención de su cupón de descuento a través de Mi Claro.

							• Claro no se hace responsable por cupones no redimidos por el cliente.

							2. Cliente referido

							• Para reclamar su beneficio, debe llevar copia impresa o digital de la invitación al Programa recibida, que muestre el código del cupón, al momento de la activación de su nuevo servicio móvil o fijo o hacer mención del mismo si se solicita activación de línea fijo por teléfono.

							• Activar uno de los productos o servicios aplicables del Programa. Estos son: Móvil “Update”, BYOP Credit Limit, Servicio de Internet y Televisión 2 Play y 3 Play con contrato de 24 meses.

							• Al suscribirse a uno de los servicios participantes, el cliente podría recibir el descuento que corresponda al servicio de la cuenta que adquirió.
							<p class="abc">
								a. Móvil Update- Cupón de $50 de descuento para pago de su factura.
								b. BYOP Credit Limit- Cupón de $25 de descuento para pago de su factura.
								d. FIJO- Cupón de 50% de descuento en la renta del plan fijo en cuentas 2Play y 3Play (No aplica a cargos reglamentarios, cargos por franquicia, IVU, cargos por STB, canales Premium, canales de adultos y paquetes complementarios.)
								e. Individual Residencial (Cuentas Convergentes) – 50% de descuento en la renta del plan fijo (El descuento se incluye al plan de IPTV, si la cuenta es 3Play.)
							</p>
							• La aplicación de su descuento solo podrá ser gestionada a través de la cuenta del cliente del Programa de Referidos en Mi Claro.

							• No se podrá utilizar el beneficio en combinación con otras promociones u ofertas.

							• El cupón de descuento no se utilizará como crédito o reembolso a cuenta en caso de cancelación.

							• Los cupones de descuentos no son transferibles.

							• Una vez aplique su cupón de descuento el mismo perderá su validez, este no podrá ser cancelado, reversado o reembolsado.

							• En el caso de los descuentos para cuentas Móvil Update y BYOP Credit Limit solo podrá redimir un cupón por factura.
							<p class="abc">
								a. Si el valor del cupón de descuento redimido es mayor al balance pendiente de su factura Móvil Update o BYOP Credit Limit, al redimir este descuento el cliente perderá la diferencia del valor restante.

								b. Si el valor del cupón de descuento redimido es menor al balance pendiente de su factura Móvil Update o BYOP Credit Limit, el cliente es responsable de pago remanente de su factura en o antes de la fecha de vencimiento.
							</p>
							• Al momento de redimir su beneficio es importante que la cuenta NO esté suspendida o con atrasos. De estarlo, el cliente debe poner la cuenta al corriente para poder redimir su beneficio.

							• El beneficio expira en un período de 12 meses.

							• La fecha de expiración del cupón de descuento será calculada tomando como inicio la fecha de envío del cupón.

							• Cliente debe gestionar la redención de su cupón de descuento a través de Mi Claro.

							• Claro no se hace responsable por cupones no redimidos por el cliente.

							3. Claro se reserva el derecho de modificar, a su sola discreción y de tiempo en tiempo, estos términos y condiciones y los términos aplicables serán aquellos que estén vigentes al momento de la redención o reclamación del beneficio.
						</div>
					</div>
				</div>

				<div class="basicrow text-center m-top-i lessm">
					<div id="close-terms" class="btns def-i red centr vcenter rippleR">
						<span class="tabcell">
							Cerrar&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>
						</span>
					</div>

				</div>
			</div>

		</div>


		<div class="popupbg popup-cant" style="display: none">
			<div class="popupcont">
				<div class="basicrow text-justify f-black roboto-r">
					<span class="roboto-b">&#161;Gracias por su inter&eacute;s en nuestro Programa de Refiere y Gana&#33;</span> Su cuenta no cumple con los requisitos de participaci&oacute;n de este programa. Para informaci&oacute;n adicional comun&iacute;quese con unos de nuestros Coordinadores de Servicio al Cliente a trav&eacute;s de nuestro CHAT o revise las reglas y t&eacute;rminos y condiciones de esta promoci&oacute;n.
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow text-center m-top-i">
					<div class="red btns savech centr vcenter btn-home">
						<div class="tabcell" id="cancel-cant">
							Ok&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="popupbg popup-select" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
                    Validación de Cuentas Programa de Referidos
				</div>

				<div class="basicrow m-top-i">
					<label class="label-r">&#42; Número de Cuenta</label>

					<div class="basicrow">
						<select id="select-account" class="sel-f">
							<option>Seleccionar</option>
						</select>
					</div>
				</div>

				<div class="basicrow m-top-i">
					<label class="label-r">&#42; Número de Teléfono</label>

					<div class="basicrow">
						<select id="select-subscriber" class="sel-f">
							<option>Seleccionar</option>
						</select>
					</div>
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow text-center m-top">
					<div class="btns def-i red pull-left vcenter rippleR" id="next-select">
						<span class="tabcell">
							Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</div>

					<div class="btns def-i gray pull-left vcenter" id="cancel-select">
						<span class="tabcell">
							Cancelar
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="popupbg popup-update" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					Actualiza tu Perfil
				</div>

				<div class="basicrow m-top-i">
					<label class="label-r">&#42; Escoge pasatiempo favorito</label>

					<div class="basicrow">
						<select id="select-hobby"  class="sel-f">
							<option>Seleccionar</option>
						</select>
					</div>
				</div>

				<div class="basicrow">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="basicrow m-top-i">
								<label class="label-f">&#42; Fecha de Nacimiento</label>

								<div class="basicrow rel">
									<i class="fa fa-calendar inpcal-icon" aria-hidden="true"></i>

									<input id="date" type="date" value="1980-05-02" class="inp-f qt">
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="basicrow m-top-i">
								<label class="label-f">&#42; Correo de Factura Electr&oacute;nica</label>

								<div class="basicrow">
									<input type="email" id="email" class="inp-f off">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow f-reg f-black roboto-r m-top-i text-justify">
					<img class="plessicon" width="100%" src="images/fact-dig.png">

					<div class="popopt less-m roboto-b">
						Paperless:
					</div>

					<div class="popopt">
						<input id="radio-yes" type="radio" name="group-paperless"> Si
					</div>

					<div class="popopt">
						<input id="radio-no" type="radio" name="group-paperless"> No
					</div>
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow text-center m-top">
					<div class="btns def-i pull-left vcenter gray" id="next-update">
						<span class="tabcell">
							Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</div>

					<div class="btns def-i gray pull-left vcenter" id="cancel-update">
						<span class="tabcell">
							Cancelar
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="popupbg popup-balance-post" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					Balance Vencido
				</div>

				<div class="basicrow f-black f-reg m-top-i text-justify">
					Estimado Cliente su cuenta posee un balance vencido. Para poder continuar con el proceso de referir sus contactos por favor pague el balance pendiente abajo mostrado y presione la opci&oacute;n Pagar.
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow m-top-i">
					<div class="balancesptr-ii text-center refdef">
						<span class="roboto-b">
							Balance Pendiente
						</span><br>

						<span class="f-red f-lsemi roboto-b" id="balance-post">
							$0.00
						</span>
					</div>

					<div class="basicrow visible-xs">
						<div class="logline full"></div>
					</div>

					<div class="balancesptr-ii ref-nbrd refdef">
						<label class="label-r roboto-b">Monto a Pagar (&#36;)</label>

						<div class="basicrow rel">
							<img data-toggle="popover" data-html="true" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." data-placement="bottom" class="q-t" width="100%" src="images/tooltip1.png">

							<input id="value-balance-post" value="&#36;0.00" class="inp-f refdefnt qt">
						</div>
					</div>
				</div>

				<div class="basicrow m-top-u">
					<div class="logline full"></div>
				</div>

				<div class="basicrow text-center m-top">
					<div class="btns def-i red pull-left vcenter rippleR" id="next-balance-post">
						<span class="tabcell">
							Pagar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</div>

					<div class="btns def-i gray pull-left vcenter" id="cancel-balance-post">
						<span class="tabcell">
							Cancelar
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="popupbg popup-balance-pre" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					Balance Vencido
				</div>

				<div class="basicrow f-black f-reg m-top-i text-justify">
					Estimado Cliente su cuenta posee un balance vencido. Para poder continuar con el proceso de referir sus contactos por favor recargue el balance a su cuenta prepaga mostrada y presione la opci&oacute;n Pagar o de lo contrario presione el bot&oacute;n Cancelar para abandonar el proceso.
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow m-top-i">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
							<div class="basicrow">
								<label class="label-r roboto-b">Recarga Prepago &#45; Monto a Pagar (&#36;)</label>

								<div class="basicrow rel">
									<img data-toggle="popover" data-html="true" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." data-placement="bottom" class="q-t" width="100%" src="images/tooltip1.png">

									<input value="&#36;174.87" class="inp-f refdefnt qt">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow text-center m-top">
					<div class="btns def-i red pull-left vcenter rippleR" id="next-balance-pre">
						<span class="tabcell">
							Pagar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</div>

					<div class="btns def-i gray pull-left vcenter" id="cancel-balance-pre">
						<span class="tabcell">
							Cancelar
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow">
				<div class="basicrow">
					<div class="container">
						<div class="fulltitle m-top-i f-btitle">
							<span class="icon-dash-21"></span> Programa Refiere y Gana
						</div>
					</div>
				</div>

				<div class="basicrow">
					<div class="container nocont">
						<div class="basicrow rel m-top-i">
							<img width="100%" class="innerban" src="images/refbanimg.jpg">

							<div class="innerbantexts">
								<div class="basicrow f-black roboto-l">
									Por cada amigo que refieras<br/>
									<span class="f-reg f-mgray">Obtendras cupones</span>
								</div>

								<div class="basicrow">
									<div id="btn-refiere" class="btns blue refdef vcenter rippleB">
										<div class="tabcell">
											Refiere&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
										</div>
									</div>

									<div id="btn-redimir" class="btns blue refdef refdefleft vcenter rippleB">
										<div class="tabcell">
											Redimir&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow m-top-i lessm">
					<div class="container">
						<div class="basicrow m-top-i">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 roboto-l f-black text-justify">
									<span class="f-big less-f">&#191;Qu&eacute; es el programa de Refiere y Gana&#63;</span><br/><br/>
									<span class="f-reg-i f-mgray">Este programa tiene el objetivo de incentivar a nuestros clientes existentes por cada referido a amigos, familiares y conocidos que culmine en una activación de servicio. Por otro lado, el cliente referido recibirá beneficios por su activación. Todas las transacciones se gestionarán y monitorearán a través de Mi Claro, permitiéndole al cliente autogestión de sus beneficios.</span>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 text-center">
									<img width="100%" class="reflaptimg" src="images/reflaptopimg.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow graybg">
					<div class="container">
						<div class="basicrow">
							<div class="row refdef">

								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hrefmtop">

									<div id="icono_questions" class="basicrow text-center">
											<img style ="font-size: 4em;cursor: pointer;width: auto;height: 90px;" src="images/ico_preguntasFrecuentes.png">
											Preguntas frecuentes
									</div>

									<div class="basicrow m-top"></div>

									<div id="terminos" class="basicrow text-center">
										<img style ="font-size: 4em;cursor: pointer;width: auto;height: 90px;" src="images/ico_terminosCondiciones.png">
										Términos y Condiciones
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
