<script type="text/template" id="update_step_1">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<div class="basicrow mbott">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-4 col-lg-offset-4 col-md-offset-2 col-sm-offset-2 m-top-i">
							<div class="basicrow f-lsemi roboto-r text-center">
								<div class="basicrow m-top-i">
									<img width="100%" class="mc-icon" src="images/reg-a-icon.png">
									Actualización de Registro
								</div>

								<div class="basicrow m-top-ii">
									<div class="logline"></div>
								</div>
							</div>

							<div class="basicrow m-top f-reg f-black roboto-r text-justify">
								Hemos detectado cambios en la configuración de su cuenta. Por favor ingrese el número de telefono con el que desea acceso a Mi Claro.
							</div>

							<div class="basicrow m-top-i">
								<div class="basicrow">
									<input id="register_number" type="number" placeholder="N&uacute;mero de Tel&eacute;fono" class="inp-f">
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div id="btn-validate" class="btns red vcenter rippleR">
									<div class="tabcell">
										Continuar
									</div>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow text-center m-top-i">
								<a id="btn-login" class="linkdefs">Volver al inicio de sesi&oacute;n&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>