<script type="text/template" id="add_accounts">

	<!-- FIXME [INIT NOTICE POPUP]
	<div class="popupcont-bg">
		<div class="popupcont-i less-h">
			<div class="f-inf f-med basicrow text-center">
				<span class="f-bold f-graydark">Asignar Principal</span>
			</div>

			<div class="f-inf f-med basicrow m-top text-justify">
				Estimado usuario es importante marcar una de sus cuentas como la Cuenta Principal. Hágalo ahora mismo despleglandolas dando clic.
			</div>

			<div class="f-inf f-med basicrow">
				<a href="" class="btn-def btn-red text-center radius-a vcenter">
					<div class="icon-btn">
						<img src="images/arrow-btn.png" width="100%" alt="">
					</div>

					<div class="basicrow tabcell text-center f-white">
						Aceptar
					</div>
				</a>
			</div>
		</div>
	</div>
	[END NOTICE POPUP] -->

	<div id="wrapper">
		<div class="stopfoot">

			<% include header %>

			<% include navmenu %>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Agregar Cuentas</span>
				</div>
			</div>

			<div class="subtitle nbott din-b f-little text-center f-black vcenter">
				<div class="tabcell">
					CUENTAS
				</div>
			</div>

			<div class="autobar f-reg text-justify f-black diffr">
				<div class="container">
					<div class="basicrow">
						Estas son las cuentas que le son facturadas. Si hay alguna que dio de baja recientemente y no desea tenerla disponible puede removerla. Si por lo contrario, suscribi&oacute; una nueva cuenta y no se encuentra en la lista puede incluirla utilizando la secci&oacute;n A&ntilde;adir Cuenta.
					</div>

					<div class="basicrow m-top-ii" id="add-accounts-btn">
						<div class="r-btn text-center f-med f-white vcenter">
							<div class="tabcell" id="btn-add-accounts">
								Agregar Cuentas
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- [INIT ADD ACCOUNT] -->
			<div id="add-accounts" style="display:none;">
				<div class="autobar f-reg text-justify f-black diffr">
					<div class="container">
						<div class="basicrow">

							<span class="f-bold">A&ntilde;adir Cuenta:</span><br/><br/>

							Para a&ntilde;adir una cuenta, provea el n&uacute;mero de cuenta seg&uacute;n aparece en la factura (BAN por sus siglas en ingl&eacute;s) y los &uacute;ltimos 4 d&iacute;gitos del seguro social del due&ntilde;o de la misma.
						</div>
					</div>
				</div>

				<div class="autobar diffr">
					<div class="container">
						<div class="basicrow rel">
							<img class="inficon" data-toggle="popover" data-placement="left" data-html="true" data-content="Ingrese el N&uacute;mero de Cuenta" width="100%" width="100%" src="images/qst-icon.png">

							<input id="account-number" type="text" name="" maxlength="9" placeholder="N&uacute;mero de Cuenta" class="inpln inf f-bold f-reg f-dgray" novalidate>
						</div>

						<div class="basicrow rel m-top-i">
							<img class="inficon" data-toggle="popover" data-placement="left" data-html="true" data-content="Ingrese los 4 &uacute;ltimos d&iacute;gitos del N&uacute;mero de Seguro Social" width="100%" width="100%" src="images/qst-icon.png">

							<input id="ssn-input" type="text" name="" maxlength="4" placeholder="4 &Uacute;ltimos N&uacute;meros de Seguro Social" class="inpln inf f-bold f-reg f-dgray" novalidate>
						</div>
					</div>
				</div>

				<div class="autobar f-reg text-justify f-black diffr">
					<div class="container">
						<div class="basicrow">
							La cuenta marcada como Principal ser&aacute; preseleccionada por el sistema en todos los procesos donde se solicite una cuenta. S&oacute;lo una cuenta puede ser configurada como la Principal.<br/><br/>
						</div>

						<div class="basicrow f-small f-dgray f-bold">
                        	<input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox" id="default-account-check" checked/><label for="checkboxG1" class="css-label radGroup1">&nbsp;&nbsp;Marcar esta cuenta como principal.</label>
						</div>

						<div class="basicrow m-top-ii">
							<div class="r-btn text-center f-med f-white vcenter">
								<div class="tabcell" id="btn-save-account" href="#add_accounts">
									Guardar Cambios
								</div>
							</div>
						</div>

						<div class="basicrow m-top-ii">
							<div class="g-btn text-center f-med f-white vcenter">
								<div class="tabcell" id="btn-cancel-save-account">
									Cancelar
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- [END ADD ACCOUNT] -->

			<div class="lineb">

				<!-- [INIT DISPLAY ACCOUNTS] -->
				<% _.each(accounts, function(account, index) { %>
				<div data-toggle="collapse" data-target="#account-detail-<%= index %>" class="phonebar star account-name" id="account-name-<%= index %>" data-id=<%= index %>>

					<div class="container rel vcenter">
						<div class="tabcell">
							<div id="plus" class="p-sts f-gray">
								+
							</div>

							<div id="minus" class="p-sts f-gray">
								-
							</div>

							<% if (account.defaultAccount == 'Y') { %>
							<img class="defstar" width="100%" src="images/star-on.png">
							<% }else { %>
							<img class="defstar" width="100%" src="images/star-off.png">
							<% } %>

							<span class="f-med f-black"><%= account.ownerName %></span>
						</div>
					</div>
				</div>
				<!-- [END DISPLAY ACCOUNTS] -->

				<div id="account-detail-<%= index %>" class="collapse">
					<div class="basicrow">
						<div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">N&uacute;mero de Cuenta</div>

								<div class="basicrow m-top-ii">
									<div class="contspace full f-med f-black text-justify f-bold">
										<%= account.accountNumber %>
									</div>
								</div>
							</div>
						</div>

						<div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">Nombre de Usuario</div>

								<div class="basicrow m-top-ii">
									<div class="contspace full f-med f-black text-justify f-bold">
										<%= account.ownerName %>
									</div>
								</div>
							</div>
						</div>

						<div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">Fecha de Asociaci&oacute;n</div>

								<div class="basicrow m-top-ii">
									<div class="contspace full f-med f-black text-justify f-bold">
										<%= account.createdDate %>
									</div>
								</div>
							</div>
						</div>

						<% if (account.defaultAccount == 'Y') { %>
						<div class="subtitle nbott din-b f-little text-center f-black vcenter">
							<div class="tabcell">
								N&Uacute;MERO DE TEL&Eacute;FONO PRINCIPAL
							</div>
						</div>

						<div class="autobar">
							<div class="container">
								<div class="basicrow f-reg f-black">
									Si cuenta con mas de un n&uacute;mero de tel&eacute;fono ahora podr&aacute; seleccionar uno como principal. La informaci&oacute;n de Consumo de este suscriptor ser&aacute; la que el sistema mostrar&aacute; en el Widger de Mi Claro PR Apps y a donde llegaran las notificaciones.
								</div>
							</div>
						</div>

						<% _.each(account.subscribers, function(subscriber, indexSubscriber) { %>
						<div class="planspc dheight on input-check-container <%= ((account.defaultSubscriber == subscriber.subscriberNumber) && (account.defaultAccount == 'Y'))?'on':'' %>">

							<div class="container norel">
								<div class="spc-i vcenter">
									<div class="tabcell">
										<% if (account.defaultSubscriber == subscriber.subscriberNumber) { %>
										<% if (account.defaultAccount == 'N') { %>
										<input type="checkbox" data-subscriber="<%= subscriber.subscriberNumber %>" data-index="<%= index %>"
											   name="selectSubscriber" id="checkboxG2" class="css-checkbox-<%= index %> css-checkbox2" checked="true" disabled/>
										<% }else { %>
										<input type="checkbox" data-subscriber="<%= subscriber.subscriberNumber %>" data-index="<%= index %>"
											   name="selectSubscriber" id="checkboxG2" class="css-checkbox-<%= index %> css-checkbox2" checked="true"/>
										<% } %>
										<% }else { %>
										<% if (account.defaultAccount == 'N') { %>
										<input type="checkbox" data-subscriber="<%= subscriber.subscriberNumber %>" data-index="<%= index %>"
											   name="selectSubscriber" id="checkboxG2" class="css-checkbox-<%= index %> css-checkbox2" disabled/>
										<% }else { %>
										<input type="checkbox" data-subscriber="<%= subscriber.subscriberNumber %>" data-index="<%= index %>"
											   name="selectSubscriber" id="checkboxG2" class="css-checkbox-<%= index %> css-checkbox2" />
										<% } %>
										<% } %>
										<label for="checkboxG2" class="css-label2 radGroup1"></label>
									</div>
								</div>

								<div class="spc-ii f-reg f-bold text-justify vcenter">
									<div class="tabcell">
										<%= subscriber.subscriberNumber %>
									</div>
								</div>
							</div>
						</div>

						<% }) %>

						<% } %>

						<% if (account.defaultAccount == 'Y') { %>
						<div class="autobar diff-i">
							<div class="container">
								<div class="r-btn text-center f-med f-white vcenter">
									<div class="tabcell save-changes" data-account="<%= account.accountNumber %>" data-index="<%= index %>">
										Guardar Cambios
									</div>
								</div>
							</div>
						</div>
						<% } %>

						<% if (account.defaultAccount == 'N') { %>

						<div class="autobar diff-i">
							<div class="container">
								<div class="r-btn text-center f-med f-white vcenter">
									<div class="tabcell default-account" data-account="<%= account.accountNumber %>" data-index="<%= index %>">
										Hacer Principal
									</div>
								</div>
								<div class="g-btn text-center f-med f-white vcenter">
									<div class="tabcell delete-account" data-account="<%= account.accountNumber %>" data-index="<%= index %>">
										Eliminar
									</div>
								</div>
							</div>
						</div>

						<% } %>

					</div>

				</div>

				<%})%>

			</div>

			<div class="basicrow f-reg text-justify f-black m-top">
				<div class="container">
					La cuenta con una estrella amarilla a su mano izquierda est&aacute; configurada como la cuenta principal. Esto significa que donde quiera que tenga que seleccionar una cuenta para alg&uacute;n proceso, esta cuenta estar&aacute; previamente seleccionada para su conveniencia. Solo una cuenta puede ser configurada como la principal.
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
