<script type="text/template" id="billing_info">

    <div data-role="header">
        <div class="ui-grid-solo ui-bar-menu f-minimed biggerh">            
            <h1 class="ui-title avenir" role="heading">Inofmraci&oacute;n</h1>
        </div>
    </div><!-- /header -->

    <div data-role="content">   

        <ul data-theme="a" data-inset="true" data-role="listview" class="ui-listview-inset pay-confirm-cont">
            <li data-theme="j">
                Su pago fue exitoso
            </li>
            <li data-theme="a">
                <div class="ui-grid-a">
                    <div class="ui-block-a f-big">N&uacute;mero de confirmaci&oacute;n</div>
                    <div class="ui-block-b f-med txt-redo txt-right" id="confirmation_id">1234567890</div>
                </div>
            </li>
        </ul>

        <a id="btn-back" data-role="button"  data-theme="i" class="ui-btn-up-h f-big">
            Volver
        </a> 
        
    </div><!-- /content -->  
    
    <div class="footer-bg">
		<div class="ui-footer-logo">
			<img src="images/claro-login-logotop.png" width="100%">
		</div>
        <img src="images/inners-footer.png">                       
    </div><!-- /footer --> 	

</script>