<script type="text/template" id="change_plan_1">

	<div id="wrapper">
		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Cambio de Plan</span>
				</div>
			</div>

			<div class="basicrow">
				<div class="container">
					<div class="basicrow f-little din-b m-top-ii">
						N&uacute;mero de Cuenta
					</div>

					<div class="basicrow text-center">
						<select class="selln f-bold f-med f-black" id="select-account">
							<% _.each(accounts, function(value, index) { %>
							<option value="<%= value.Account %>"  <%= value.Account==selectedAccountValue?'selected="selected"':'' %> >
							<%= value.Account %>
							</option>
							<% }); %>
						</select>
					</div>
				</div>
			</div>

			<div class="lineb m-top">

				<% _.each(subscribers, function(value, index) { %>
					<div data-toggle="collapse" data-target="#phone<%= index %>" class="phonebar select-subscriber" data-value="<%= value.subscriber%>" data-index="<%= index %>" id="select-subscriber-<%= index %>" data-search-info=false>
						<div class="container rel vcenter">
							<div class="tabcell">

								<div id="plus" class="p-sts f-gray">
									+
								</div>

								<div id="minus" class="p-sts f-gray">
									-
								</div>

								<span class="f-med f-black"><%= value.subscriber %></span><br/>
								<span class="f-reg f-gray"><%= typeOfTelephony(value.ProductType) %></span>
							</div>
						</div>
					</div>

					<div id="phone<%= index %>" class="collapse"></div>

				<% }); %>


			</div>

			<% include footer %>

		</div>

	</div>
    
</script>
