<script type="text/template" id="change_plan_terms">

    <div id="wrapper">
        <div class="stopfoot-i">
        
			<div class="headbar text-center vcenter">
                <div class="container rel vcenter">
                    <div class="tabcell">

                        <div class="btn-back">
                            <img class="dispicon" width="100%" src="images/backicon2.png">
                        </div>

                        <img class="headlogo" width="100%" src="images/miclarologo.png">
                    </div>
                </div>
            </div>
            
            <div class="w-cont din-b f-white">
                <div class="container">
                    <span class="f-med">T&eacute;rminos y Condiciones</span>
                </div>
            </div>

            <div class="lineb">
            
                <div class="container rel">
                    Planes s&oacute;lo disponibles para clientes nuevos y/o actuales del servicio pospagado que posean tel&eacute;fonos en tecnolog&iacute;a GSM. Los planes no tienen cargos por cancelaci&oacute;n. Estos planes son &uacute;nicamente para uso personal e individual y no para prop&oacute;sitos comerciales, comunitarios y/o reventa. Claro se reserva el derecho de suspender y/o terminar el servicio sin previo aviso a cualquier persona por abuso o mal uso del servicio.
                </div>                

            </div>
        </div>

        <% include footer %>

    </div>

</script>
