<script type="text/template" id="chat">

	<div id="wrapper">
		<div class="stopfoot-i">
        
			<div class="headbar text-center vcenter">
                <div class="container rel vcenter">
                    <div class="tabcell">
                    
                        <% if (showBackBth) { %>
                        <div class="btn-back">
                            <img class="dispicon" width="100%" src="images/backicon2.png">
                        </div>
                        <% } %>
                    
                        <img class="headlogo" width="100%" src="images/miclarologo.png">
                    </div>
                </div>
            </div>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Chat</span>
				</div>
			</div>

			<iframe src="<%= url %>" id="chat-iframe" onLoad="$.mobile.activePage.trigger('iframeload');"  frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:100px;left:0px;right:0px;bottom:0px" height="100%" width="100%"></iframe>

		</div>

	</div>

</script>
