<script type="text/template" id="condition">

    <div data-role="header">
        <div class="ui-grid-solo ui-bar-menu f-minimed biggerh">            
            <h1 class="ui-title avenir" role="heading">T&eacute;rminos y Condiciones</h1>
        </div>
    </div><!-- /header -->

    <div data-role="content">   

        <ul data-theme="a" data-inset="true" data-role="listview">
			<li data-theme="a" class="f-med txt-light" style="text-align: justify;">

<strong>T&eacute;rminos de Uso</strong>
<br><br>
<strong>Ley de Justicia Contributiva de 2006</strong>
<br>
El 4 de julio de 2006 fue aprobada la Ley 117, conocida como la Ley de Justicia Contributiva de 2006 que enmienda el C&oacute;digo de Rentas Internas de Puerto Rico de 1994, e impone un nuevo impuesto sobre la venta y uso (IVU). El mismo se compone de un impuesto estatal de 6%, el cual es efectivo el 15 de noviembre, y un impuesto municipal de hasta 1%., seg&uacute;n lo establecido por cada municipio v&iacute;a ordenanza. Las compras hechas en esta p&aacute;gina podr&iacute;an estar sujetas a la imposici&oacute;n del IVU. El cargo por las compras y el IVU se reflejar&aacute;n en la factura de servicios.
<br><br>
<strong>Aviso sobre derechos de autor</strong>
<br>
Derechos de autor 2004, Puerto Rico Telephone Company, Inc. cuyo nombre comercial es Claro. Todos los derechos reservados. Se concede permiso para hacer y utilizar internamente copias del texto, gr&aacute;ficas, im&aacute;genes, archivos de v&iacute;deo y de audio y otra informaci&oacute;n (&quot;Contenido&quot;) de este servidor de sitio Web (WWW) sujeto a lo siguiente:
<br><br>
1.&nbsp;Las copias deber&aacute;n utilizarse s&oacute;lo para uso interno, no comercial.<br>
2.&nbsp;Debe incluirse la notificaci&oacute;n sobre derechos de autor anterior y<br>
3.&nbsp;Se concede permiso s&oacute;lo a la persona que acceda a este servidor legalmente, y no es transferible a ninguna otra persona.
<br><br>
La persona que accede este sitio Web reconoce que el Contenido del mismo puede incluir otros avisos de derechos de propiedad o describir productos, servicios, procesos o tecnolog&iacute;as propiedad de Claro o de terceros. Salvo por la licencia limitada anterior para hacer y utilizar internamente copias del Contenido, nada de lo contenido en el presente debe interpretarse como una concesi&oacute;n de licencia al usuario en virtud de ning&uacute;n derecho de autor, marca, patente u otro derecho de propiedad intelectual de Claro o de cualquier tercero.
<br>
<br>
<strong>Requisitos para los enlaces con </strong><strong>www.claropr.com</strong>
<br>
Claro no hace ninguna representaci&oacute;n ni ofrece ninguna garant&iacute;a relativa a la legalidad o propiedad del contenido de cualquier sitio Web enlazado con este sitio Web. El uso del Contenido de este sitio Web en cualquier otro sitio Web o en un entorno inform&aacute;tico conectado a la red, incluyendo, pero sin limitaci&oacute;n, enmarcar el Contenido dentro de otro sitio Web, queda expresamente prohibido sin el permiso por escrito con antelaci&oacute;n de Claro. Una vez concedido nuestro consentimiento por escrito, usted debe cumplir con las siguientes directrices:
<br>
<br>
1.&nbsp;Debe enlazarse s&oacute;lo con nuestra p&aacute;gina principal (homepage), y no con p&aacute;ginas dentro del sitio en s&iacute;.
<br>
2.&nbsp;El enlace con Claro Puerto Rico no debe aparecer conectado con ning&uacute;n otro logotipo o gr&aacute;fico.
<br>
3.&nbsp;No se permite ninguna alteraci&oacute;n o modificaci&oacute;n del tama&ntilde;o de las ilustraciones, los logotipos o los gr&aacute;ficos de Claro.
<br>
4.&nbsp;El nombre y el logotipo de Claro no se deben asociar con publicidad o comentarios no equitativos, enga&ntilde;osos o difamatorios, ni utilizarse de ning&uacute;n modo que tienda a perjudicar o a comprometer nuestra reputaci&oacute;n profesional e identidad y pol&iacute;ticas corporativas.
<br>
5.&nbsp;Su enlace de texto debe incluir el siguiente nombre corporativo Claro. No se permite hacerle cambios ni estilizaci&oacute;n.<br>
<br><br>
<strong>Marcas, Derechos de Autor y Propiedad Intelectual</strong>
<br>
Claro es una marca de Am&eacute;rica M&oacute;vil y las dem&aacute;s marcas de f&aacute;brica, logotipos y marcas de servicio (denominadas colectivamente &quot;Marcas &quot;) utilizados en este sitio Web pertenecen a Claro o a sus respectivos propietarios. Nada de lo contenido de este sitio Web debe interpretarse como una concesi&oacute;n, ya sea por implicaci&oacute;n, exclusi&oacute;n o de otro modo, de una licencia o derecho de utilizar la marca Claro o cualquier otra Marca mostrada en este sitio Web sin el permiso por escrito de Claro o de su respectivo propietario. Excepto seg&uacute;n se dispone en estos T&eacute;rminos y Condiciones, Claro ni concede ni otorga derecho, t&iacute;tulo, inter&eacute;s o licencia sobre derecho de autor, marcas, patente o cualquier propiedad intelectual sobre el Contenido de este sitio Web a los usuarios del mismo. Todos los derechos de autor, derechos sobre marcas, patentes, o cualquier otro derecho de propiedad intelectual conocidos en la actualidad o reconocidos posteriormente le pertenecen a Claro. TODO USUARIO DE ESTE SITIO WEB RELEVA DE RESPONSABILIDAD Y SE COMPROMETE A INDEMNIZAR A CLARO, SUS AFILIADAS, DIRECTORES, OFICIALES, EMPLEADOS AGENTES O REPRESENTANTES POR Y CONTRA TODO DA&Ntilde;O, P&Eacute;RDIDA, MULTA O PENALIDAD, INCLUYENDO HONORARIOS DE ABOGADO QUE SURJAN O EST&Eacute;N RELACIONADOS CON EL CONTENIDO DEL MATERIAL QUE USTED SOMETA, ENV&Iacute;E O TRANSMITA A TRAV&Eacute;S DEL SITIO WEB, SU ACCESO AL SITIO WEB, LA VIOLACI&Oacute;N DE ESTOS T&Eacute;RMINOS Y CONDICIONES O LA VIOLACI&Oacute;N DE LOS DERECHOS DE TERCERO, INCLUYENDO PERO SIN LIMITARSE A CUALQUIER VIOLACI&Oacute;N DE DERECHOS DE AUTOR, DERECHOS SOBRE MARCAS O DE CUALQUIER OTRO DERECHO DE PROPIEDAD INTELECTUAL COMETIDA POR EL USUARIO. CLARO SE RESERVA EL DERECHO DE ASUMIR EL CONTROL DE CUALQUIER ASUNTO POR EL CUAL USTED LE DEBA INDEMNIZAR, EN CUYO CASO USTED SE COMPROMETE A COOPERAR CON CLARO SEG&Uacute;N &Eacute;STE LE REQUIERA.
<br><br>
<strong>Acuerdo relativo a la supervisi&oacute;n y divulgaci&oacute;n</strong>
<br>
Claro no tiene obligaci&oacute;n alguna de supervisar el Contenido ni ninguna otra informaci&oacute;n contenida en este servidor o transmitida al mismo. Sin embargo, cualquier persona que utilice este servidor accede a que Claro pueda supervisar el contenido del servidor con periodicidad para (1) cumplir con cualquier ley, normativa o cualquier solicitud gubernamental necesarias; (2) operar el servidor adecuadamente o para proteger el mismo y a sus usuarios. Claro se reserva el derecho de modificar, rechazar o eliminar cualquier informaci&oacute;n contenida en su servidor o transmitida al mismo la cual, a su &uacute;nico juicio, considere inaceptable o que incumpla estos t&eacute;rminos y condiciones.

<br><br>
<strong>Privacidad</strong>
<br>
Toda persona que ofrezca informaci&oacute;n o datos personales para cualquier prop&oacute;sito relacionado con el uso del sitio Web reconoce haber examinado y aceptado la pol&iacute;tica de privacidad de Claro. La pol&iacute;tica de privacidad de este sitio Web puede accederse a trav&eacute;s del siguiente enlace: Privacidad.
<br><br>
<strong>Menores de edad</strong>
<br>
El sitio Web est&aacute; dirigido a usuarios mayores de edad. Cualquier menor de edad que use el sitio Web u ofrezca datos personales a trav&eacute;s del mismo deber&aacute; estar previamente autorizado por sus padres, tutor o representante legal. Claro le advierte a los padres, tutores o representantes legales de menores de edad que no se hace responsable de determinar qu&eacute; servicios o contenido del sitio Web son apropiados para menores de edad. Los padres, tutores o representantes legales de menores de edad son y ser&aacute;n exclusivamente responsables por la determinaci&oacute;n sobre a cu&aacute;les servicios o contenido del sitio Web podr&aacute;n tener acceso los menores de edad a su cargo.
<br><br>
<strong>Presentaci&oacute;n de ideas</strong>
<br>
Le invitamos a presentar sus comentarios sobre nuestro sitio Web, nuestros productos y servicios (&quot;Comentarios&quot;). Sin embargo, le solicitamos que limite sus Comentarios a las experiencias que haya tenido con nuestro sitio Web, productos y servicios. Le rogamos que no nos env&iacute;e ideas creativas, comentarios, informaci&oacute;n, respuestas, preguntas, comentarios, sugerencias, planes, ideas para nuevos productos, promociones, nombres de productos, campa&ntilde;as de publicidad, tecnolog&iacute;as o procesos (&quot;Ideas&quot;) que no hayamos solicitado. Los Comentarios y las Ideas que usted pueda presentar no impedir&aacute;n de ning&uacute;n modo la compra, fabricaci&oacute;n o utilizaci&oacute;n de productos, servicios, planes e ideas similares por parte de Claro con cualquier fin. Debe entender que Claro no garantiza de ning&uacute;n modo que sus Comentarios e Ideas ser&aacute;n tratados de manera confidencial ni protegidos bajo derechos de propiedad intelectual. Le solicitamos que entienda asimismo que Claro tiene total libertad de copiar, utilizar, modificar, revelar y distribuir los Comentarios e Ideas provenientes de usted, sin limitaci&oacute;n, para cualquier fin, ya sea comercial o de otro tipo, sin remuneraci&oacute;n para usted.
<br><br>
<strong>Relevo de responsabilidad</strong>
<br>
EL USUARIO DE ESTE SITIO WEB ASUME TODA RESPONSABILIDAD Y RIESGO POR EL USO DE ESTE SERVIDOR Y DEL INTERNET EN GENERAL. CLARO Y SUS COMPA&Ntilde;&Iacute;AS AFILIADAS NO OFRECEN GARANT&Iacute;A, REPRESENTACION, ENDOSO ALGUNO EXPRESO O IMPL&Iacute;CITO O ESTATUTARIO, CON RESPECTO AL CONTENIDO DEL SITIO WEB, INCLUYENDO, PERO SIN LIMITARSE A, LA DOCUMENTACI&Oacute;N Y LAS GR&Aacute;FICAS RELACIONADAS, ACCEDIDO DESDE O A TRAV&Eacute;S DE ESTE SERVIDOR O DEL INTERNET, INCLUYENDO, PERO SIN LIMITARSE A GARANT&Iacute;AS DE COMERCIABILIDAD, APTITUD PARA PROP&Oacute;SITOS PARTICULARES O DE NO HABER INFRINGIDO DERECHOS, LEYES O REGLAMENTOS. CLARO NO ASUME RESPONSABILIDAD LEGAL ALGUNA CON RESPECTO A LO CERTERO, COMPLETO O &Uacute;TIL DEL CONTENIDO, CUALQUIER MECANISMO, PRODUCTO O PROCESO MOSTRADO EN EL SERVIDOR O DE CUALQUIER OTRO MATERIAL AL QUE PUEDA SER ACCEDIDO EN EL SERVIDOR O A TRAV&Eacute;S DEL MISMO. BAJO NINGUNA CIRCUNSTANCIA CLARO SER&Aacute; RESPONSABLE POR DA&Ntilde;OS Y PERJUICIOS ESPECIALES, FORTUITOS, RESULTANTES O PUNITIVOS, INCLUYENDO HONORARIOS DE ABOGADOS, NI POR DA&Ntilde;OS Y PERJUICIOS QUE SE DERIVEN DE LA P&Eacute;RDIDA DE USO, DATOS, BENEFICIOS O GANANCIAS, YA SEAN CONTRACTUALES, EXTRACONTRACTUALES, POR NEGLIGENCIA O POR CUALQUIER OTRA ACCI&Oacute;N TORTICERA, QUE SURJAN DE O QUE EST&Eacute;N RELACIONADAS CON EL USO O EL NIVEL DE DESEMPE&Ntilde;O DEL CONTENIDO, ESTE SERVIDOR O INTERNET EN GENERAL.
<br><br>
<strong>Ausencia de garant&iacute;as</strong>
<br>
El material de Claro en este servidor puede incluir imprecisiones t&eacute;cnicas o errores tipogr&aacute;ficos. Claro tiene derecho a realizar cambios y a actualizar cualquier Contenido de este servidor sin aviso previo. EL CONTENIDO QUE SE OFRECE EN ESTE SERVIDOR SE PROPORCIONA &quot;TAL CUAL&quot; Y &quot;SEG&Uacute;N EST&Eacute; DISPONIBLE&quot;, SIN GARANT&Iacute;A DE NING&Uacute;N TIPO, YA SEA EXPRESA O IMPL&Iacute;CITA, INCLUYENDO, PERO SIN LIMITARSE A GARANT&Iacute;AS DE DERECHOS DE PROPIEDAD, NO VIOLACI&Oacute;N O GARANT&Iacute;AS IMPL&Iacute;CITAS DE COMERCIABILIDAD O ADECUACIDAD PARA UN FIN ESPEC&Iacute;FICO. NING&Uacute;N CONSEJO O CONTENIDO OFRECIDO POR CLARO, SUS COMPA&Ntilde;&Iacute;AS AFILIADAS O SUS EMPLEADOS RESPECTIVAMENTE CREAR&Aacute; NING&Uacute;N TIPO DE GARANT&Iacute;A. NI CLARO NI SUS COMPA&Ntilde;&Iacute;AS AFILIADAS GARANTIZAN QUE EL CONTENIDO DE ESTE SERVIDOR O DE INTERNET EN GENERAL SER&Aacute;N ININTERRUMPIBLES O QUE CARECERAN DE ERRORES, NI QUE CUALQUIER CONTENIDO, SOFTWARE U OTRO MATERIAL AL QUE SE ACCEDA DESDE ESTE SERVIDOR NO CONTENDR&Aacute; NING&Uacute;N VIRUS U OTRO ELEMENTO PERJUDICIAL. ESTA EXCLUSI&Oacute;N DE GARANT&Iacute;AS CONSTITUYE UNA PARTE ESENCIAL DE LA DECLARACI&Oacute;N DE PRIVACIDAD.
<br><br>
<strong>Ausencia de endoso</strong>
<br>
La referencia contenida en el presente a cualquier producto, servicio, proceso, enlaces de hipertexto con sitios Web de terceros u otra informaci&oacute;n, por el nombre comercial, marca fabricante, suplidor, u otro no constituye o implica su endoso, respaldo, patrocinio o recomendaci&oacute;n por parte de Claro. La informaci&oacute;n sobre productos y servicios es responsabilidad exclusiva de cada proveedor individual.
<br><br>
<strong>Ley de Derechos de Autor del Milenio Digital</strong>
<br>
En virtud del Cap&iacute;tulo II de la Ley de Derechos de Autor del Milenio Digital (Digital Millennium Copyright Act), todas las reclamaciones de infracci&oacute;n de derechos de autor por material que se crea est&aacute; contenido en el sistema o la red de Claro, deben enviarse prontamente mediante comunicaci&oacute;n escrita a Claro Puerto Rico Claro, Departamento de Mercadeo, P.O. Box 70367, San Juan, PR 00936-8367. Todas las reclamaciones deben incluir la siguiente informaci&oacute;n:
<br>
<br>
1.&nbsp;&nbsp;&nbsp; Una firma f&iacute;sica o electr&oacute;nica de una persona autorizada a actuar en nombre del propietario de un derecho exclusivo que se alegue est&aacute; siendo infringido;
<br>
2.&nbsp;Identificaci&oacute;n del trabajo u obra protegida por derechos de autor que se reclama haber sido infringido, o si m&uacute;ltiples trabajos protegidos por derechos de autor en un solo sitio de Internet est&aacute;n cubiertos por una sola notificaci&oacute;n, una lista representativa de dichos trabajos en ese sitio Web;
<br>
3.&nbsp;Identificaci&oacute;n del material que se reclama haber sido infringido o ser objeto de una actividad de infracci&oacute;n y que debe eliminarse o cuyo acceso debe desactivarse, e informaci&oacute;n razonablemente suficiente para permitir que el proveedor de servicio localice dicho material;
<br>
4.&nbsp;Informaci&oacute;n razonablemente suficiente para permitir que el proveedor de servicio se ponga en contacto con la Parte Reclamante, tal como una direcci&oacute;n, un n&uacute;mero de tel&eacute;fono y, si existe, una direcci&oacute;n de correo electr&oacute;nico en la que se pueda contactar a la Parte Reclamante;
<br>
5.&nbsp;Una declaraci&oacute;n de que la Parte Reclamante tiene la creencia de buena fe de que el uso del material en la manera denunciada no est&aacute; autorizado por el propietario de los derechos de autor, su agente o la ley, y
<br>
6.&nbsp;Una declaraci&oacute;n indicando que la informaci&oacute;n de la notificaci&oacute;n es correcta y, bajo pena de perjurio que la Parte Reclamante est&aacute; autorizada a actuar en nombre del propietario de un derecho exclusivo que se alega est&aacute; siendo infringido.
<br><br>
<strong>Ley aplicable y jurisdicci&oacute;n</strong>
<br>
Con excepci&oacute;n de asuntos relativos a marcas comerciales y derechos de autor, que se rigen por las leyes federales de los Estados Unidos, las disposiciones anteriores se regir&aacute;n por y se interpretar&aacute;n de acuerdo con las leyes primarias de Puerto Rico, sin tener en cuenta los principios de conflicto de derecho del mismo. El usuario de este sitio Web se somete voluntariamente a la jurisdicci&oacute;n y competencia de los tribunales federales y estatales del Estado Libre Asociado de Puerto Rico y renuncia a cualquier defensa de falta de jurisdicci&oacute;n o competencia. El usuario se compromete a que, de tener alguna reclamaci&oacute;n en contra de Claro que surja por el uso de este sitio Web o a base de estos T&eacute;rminos y Condiciones, la misma deber&aacute; ser presentada en los tribunales estatales o federales de Puerto Rico.
<br><br>
<strong>C&oacute;mo reportar pornograf&iacute;a infantil</strong>
<br>
Seg&uacute;n es utilizado en estos T&eacute;rminos y Condiciones, pornograf&iacute;a infantil es la exhibici&oacute;n del comportamiento sexualmente expl&iacute;cito de un(a) ni&ntilde;o(a) menor de 18 a&ntilde;os. Si lo que usted cree que es pornograf&iacute;a infantil ha sido colocado por una tercera persona en un sitio Web de Claro o si usted recibe la misma en su tel&eacute;fono, en un e-mail o en mensaje con imagen, inmediatamente contacte a su oficina local del FBI o al National Center for Missing and Exploited Children (NCMEC). No copie, env&iacute;e o reenv&iacute;e el contenido a menos y hasta que le haya instruido a hacerlo por un agente del orden p&uacute;blico. Usted puede encontrar informaci&oacute;n sobre su oficina local del FBI en la siguiente p&aacute;gina Web: www.fbi.gov/contact/fo/fo.htm. Para contactar al NCMEC, llame al 1-800-843-5678 (Child Pornography Tipline). Adem&aacute;s, usted puede presentar un informe en l&iacute;nea en la p&aacute;gina Web del NCMEC: www.CyberTipline.com.&nbsp;
<br><br>
<strong>Pol&iacute;tica de Privacidad</strong>
<br>
Claro se esfuerza por mantener elevados niveles de protecci&oacute;n de la privacidad en Internet. El objetivo de esta declaraci&oacute;n es explicar a las personas que visitan nuestros sitios Web el tipo de informaci&oacute;n que Claro obtiene acerca de ellas, c&oacute;mo recopilamos la informaci&oacute;n, c&oacute;mo la utilizamos, por cu&aacute;nto tiempo la guardamos y de qu&eacute; manera pueden restringir el uso o la divulgaci&oacute;n de informaci&oacute;n de identificaci&oacute;n personal.
<br><br>
<strong>Informaci&oacute;n que recopilamos</strong>
<br>
La informaci&oacute;n personal que Claro obtiene en relaci&oacute;n con las personas que visitan nuestros sitios Web es informaci&oacute;n que ellas proporcionan de manera voluntaria. Esto significa que usted puede visitar nuestros sitios Web sin necesidad de decirnos qui&eacute;n es y sin revelar ning&uacute;n tipo de informaci&oacute;n personal. Para evaluar la efectividad de nuestros sitios Web, recopilamos determinada informaci&oacute;n de car&aacute;cter general sobre las personas que visitan el sitio. Nuestros servidores Web reconocen autom&aacute;ticamente el nombre del dominio de la persona que visita nuestros sitios Web (como por ejemplo, .com, .edu, etc.), la p&aacute;gina Web desde la cual entra en nuestro sitio Web, qu&eacute; p&aacute;ginas visita en nuestro sitio, y cu&aacute;nto tiempo pasa en cada p&aacute;gina. Utilizamos herramientas de monitoreo Web (tambi&eacute;n conocidas como gifs libres) para monitorear el uso de nuestro sitio Web y saber de d&oacute;nde proceden las visitas y a d&oacute;nde se dirigen despu&eacute;s de salir de nuestro sitio. No monitoreamos la actividad de usuarios en sitios Web que no pertenezcan a Claro. Guardamos esta informaci&oacute;n y la utilizamos para evaluar y mejorar nuestros sitios Web. Claro puede recopilar informaci&oacute;n de identificaci&oacute;n personal (como el nombre, direcci&oacute;n de correo electr&oacute;nico, direcci&oacute;n postal) y/o informaci&oacute;n de identificaci&oacute;n personal de terceros, a trav&eacute;s de nuestro sitio Web. Usted puede elegir proporcionar informaci&oacute;n personal a Claro mediante nuestro sitio Web de distintos modos, como por ejemplo:
<br>
<br>
&bull; Solicitando un producto o servicio directamente a nosotros;<br>
&bull; Envi&aacute;ndonos un mensaje por correo electr&oacute;nico;<br>
&bull; Inscribi&eacute;ndose para recibir noticias, actualizaciones acerca de nuestra pol&iacute;tica p&uacute;blica o informaci&oacute;n acerca de nuestros productos;<br>
&bull; Solicitando trabajo o una subvenci&oacute;n;<br>
&bull; Participando en un concurso.<br>
<br>
Cuando las personas que visitan nuestros sitios Web proporcionan informaci&oacute;n acerca de s&iacute; mismos con un fin espec&iacute;fico, Claro la utiliza con dicho fin (por ejemplo, para proporcionar la informaci&oacute;n solicitada por la persona o para considerar a la persona para un trabajo espec&iacute;fico). Cuando las personas que visitan nuestros sitios Web utilizan los mismos para solicitar servicios o informaci&oacute;n sobre los mismos, puede que utilicemos la informaci&oacute;n personal del mismo modo que lo har&iacute;amos fuera de Internet, por ejemplo para evaluar sus necesidades de servicios y contactarle en relaci&oacute;n con otros servicios que pudiera encontrar &uacute;tiles. Usted tiene el derecho de optar por no recibir esta informaci&oacute;n, si nos notifica su preferencia. No vendemos informaci&oacute;n individual obtenida en Internet acerca de las personas que visitan nuestros sitios Web. Asimismo, no revelaremos la informaci&oacute;n personal que se nos proporcione en Internet a nadie fuera de Claro, salvo que usted lo autorice espec&iacute;ficamente, que la ley lo requiera, o que sea necesario revelarla para proteger la seguridad de nuestros clientes, empleados o propiedad. Si nos proporciona informaci&oacute;n personal en el contexto de un evento patrocinado conjuntamente por Claro y otra compa&ntilde;&iacute;a, como por ejemplo un concurso, o si se inscribe en un sitio Web o funci&oacute;n con m&aacute;s de un patrocinador, puede que tambi&eacute;n est&eacute; proporcion&aacute;ndosela al otro patrocinador. En tales circunstancias, la pol&iacute;tica de privacidad del otro patrocinador prevalecer&aacute;, por lo que debe revisarla cuidadosamente. Claro utiliza peri&oacute;dicamente a otros contratistas para que presten servicios tales como gesti&oacute;n, dise&ntilde;o y hosting del sitio Web y promociones especiales, pero no utiliza la informaci&oacute;n de los usuarios con otros fines que no sean el prestar servicios espec&iacute;ficos en el sitio Web de Claro.
<br><br>
<strong>Correo electr&oacute;nico</strong>
<br>
Claro no env&iacute;a correo electr&oacute;nico no solicitado o SPAM. Puede que utilicemos el correo electr&oacute;nico para comunicarnos con nuestros clientes, para responder a los mensajes por correo electr&oacute;nico de las personas que visitan nuestro sitio, para confirmar pedidos hechos por Internet, y para enviar informaci&oacute;n que haya solicitado una persona en nuestro sitio Web. Si recibe un mensaje por correo electr&oacute;nico de nosotros no solicitado, sencillamente puede solicitar no recibir m&aacute;s mensajes en el futuro. Claro ofrece en sus campa&ntilde;as de correo electr&oacute;nico una funci&oacute;n de no suscripci&oacute;n, para que los suscriptores puedan optar por no recibir m&aacute;s comunicaciones nuestras por correo electr&oacute;nico.
<br><br>
<strong>Uso de &quot;Cookies&quot;</strong>
<br>
Los sitios de Claro tambi&eacute;n utilizan &quot;cookies&quot;. Las &quot;cookies&quot; nos permiten servirle mejor. Cuando usted utiliza nuestro sitio Web, nosotros enviamos informaci&oacute;n, una cookie, a su computadora, que se almacena all&iacute;. Cuando usted regresa a nuestro sitio Web, su computadora nos env&iacute;a la cookie de vuelta. Esto permite que nuestro servidor reconozca su computadora y cualquier par&aacute;metro que usted haya creado en nuestro sitio Web. La cookie restablece dichos par&aacute;metros para que usted no tenga que volver a escribir la misma informaci&oacute;n cada vez que visita el sitio. Por ejemplo, si escribi&oacute; su c&oacute;digo postal en una visita a nuestro sitio, cuando regrese, ver&aacute; dicha informaci&oacute;n sin tener que volver a escribirla. El hecho de que nuestro servidor reconozca su computadora cuando recupera las &quot;cookies&quot; no significa que Claro est&eacute; realmente adquiriendo informaci&oacute;n sobre usted. Usted puede configurar su navegador para que borre &quot;cookies&quot; o para que le avise antes de aceptarlas. Mire las Opciones o Preferencias de su navegador.
<br><br>
<strong>Seguridad</strong>
<br>
Claro utiliza la tecnolog&iacute;a Secure Socket Layer (capa segura de conexi&oacute;n) con cifrado para la transmisi&oacute;n de informaci&oacute;n delicada, como informaci&oacute;n de tarjetas de cr&eacute;dito. Claro se compromete a proteger la privacidad del cliente en todos los sitios Web de Claro. Requerimos de nuestros empleados que protejan la privacidad de la informaci&oacute;n de nuestros clientes y esperamos que nuestros socios y proveedores hagan lo mismo. Puede tener la seguridad de que su informaci&oacute;n personal estar&aacute; protegida cuando acceda a su cuenta o solicite servicios de nuestros sitios Web por Internet. Empleamos medidas de seguridad para proteger sus transacciones con nosotros.
<br><br>
<strong>Cumplimiento de las leyes</strong>
<br>
Aunque nos esforzamos al m&aacute;ximo posible para proteger la privacidad de los usuarios, puede que tengamos que revelar informaci&oacute;n personal en los casos en los que la ley lo requiera, en los que tengamos la certeza de buena fe de que dicha acci&oacute;n es necesaria para cumplir con un procedimiento judicial actual, una orden judicial o un proceso jur&iacute;dico establecido en nuestro sitio Web.
<br><br>
<strong>Enlaces con otros sitios Web</strong>
<br>
Los sitios Web de Claro contienen enlaces con otros sitios Web. No nos responsabilizamos del contenido ni de las pr&aacute;cticas de privacidad empleadas en otros sitios Web. Con el fin de mejorar los servicios que podemos ofrecerle, Claro puede optar por ampliar sus capacidades para obtener informaci&oacute;n acerca de sus usuarios en el futuro. Claro actualizar&aacute; esta declaraci&oacute;n de privacidad continuamente para garantizar que usted est&eacute; al tanto de los acontecimientos que tengan lugar en esta esfera.
<br><br>
<strong>Actualizaci&oacute;n de su informaci&oacute;n</strong>
<br>
Los usuarios pueden acceder a informaci&oacute;n que hayan proporcionado a Claro, corregirla y actualizarla visitando nuestro sitio Web y utilizando nuestra solicitud de Atenci&oacute;n al Cliente. El &aacute;rea de Cont&aacute;ctanos del sitio Web contiene enlaces de correo electr&oacute;nico mediante los cuales los usuarios pueden enviar actualizaciones de informaci&oacute;n.
<br><br>
<strong>Notificaci&oacute;n sobre cambios</strong>
<br>
Claro notificar&aacute; con 30 d&iacute;as de antelaci&oacute;n en nuestro sitio Web acerca de cualquier cambio material en la declaraci&oacute;n de privacidad y el uso de informaci&oacute;n de identificaci&oacute;n personal.
<br><br>
<strong>Cont&aacute;ctenos</strong>
<br>
Si tiene preguntas relacionadas con nuestra declaraci&oacute;n de privacidad, comun&iacute;quese con nosotros llenando la forma de contacto en nuestra p&aacute;gina Web, www.claropr.com. Tambi&eacute;n puede llamar a nuestro Centro de Servicio al Cliente al (787) 763-3333.
<br>
&nbsp;


			</li>
		</ul>

        <a id="btn-back" data-role="button"  data-theme="i" class="ui-btn-up-h f-big">
            Volver
        </a> 
        
    </div><!-- /content -->  
    
	<!--OLD FOOTER 
    <div data-role="footer" class="ui-footer ui-bar-d">
		<div class="ui-bodyf">
			<img src="images/inners-footer.png" width="100%">
			<div class="ui-footer-logo">
            	<img src="images/claro-login-logotop.png" width="100%">
			</div>
		</div>
	</div>-->  

	<div data-role="footer" class="ui-bar-a" data-position="fixed" style="max-height:10%" data-tap-toggle="false" data-transition="none" >
		<div class="ui-grid-a">
              <div class="ui-block-a">
				<img src="images/icon-brand.png" width="100%" alt="ayuda" >		    				
   			 </div>
        	 <div class="ui-block-b" id="btn-help">
               <img  src="images/icon-help.png" width="100%" alt="logo" > 		    				
   			</div>
   		</div>
 	</div><!-- /footer -->  
    
</script>