<script type="text/template" id="consumption_limit">
		<!-- [INIT TOP CONTAINER] -->
		<div id="topcont">
			<div class="menucont gr-red vcenter">
				
				<div id="menu-icon-left">
					<img src="images/icon-back.png" width="100%;" alt="">
				</div>
				
				<div class="tabcell">
					<div class="menu-tittle text-center f-white din-b">
						L&iacute;mites de Consumo
					</div>
				</div>

				<div id="menu-icon-right" class="btn-menu">
					<img src="images/icon-menu.png" width="100%;" alt="">
				</div>

			</div>
		</div>
		<!-- [END TOP CONTAINER] -->
		
		<!-- [INIT WRAP] -->
		<div id="bodycont">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="basicrow">
							
							<div class="tabcont-b border-b">
								<div class="form-row-a">
									<div class="tab-inplabel f-graydark din-b">
										N&Uacute;MERO DE CUENTA
									</div>

									<div class="tab-inputcont radius-a">
										<select type="text" name="" value="" placeholder="" class="text-center">
											<option></option>
										</select>
									</div>
								</div>
							</div>
							
							<div class="tabcont-e border-b din-b f-red">
								Ciclo de facturaci&oacute;n
							</div>

							<div class="tabcont-e border-b">
								<div class="basicrow f-bold f-graydark">
									Mar 6 a Abr 7
								</div>

								<div class="pill-tank radius-a">
									<div class="radius-a filler-gray"></div>
								</div>

								<div class="basicrow text-right">
									Quedan 12 d&iacute;as
								</div>
							</div>

							<div class="tabcont-e border-b din-b f-red">
								PLAN ACTUAL
							</div>

							<div class="tabcont-e border-b">
								Plan de Data Compartida 10 GB
							</div>

							<div class="tabcont-c border-b f-graydark-i din-b">
								L&Iacute;MITE DE CONSUMO POR SUSCRIPTOR
							</div>

							<div class="tabcont-f border-b vcenter">
								<div class="icon-phone vcenter">
									<div class="tabcell">
										<img src="images/icon-phone.png" width="100%;" alt="">
									</div>
								</div>

								<span class="vcenter">
									<span class="tabcell f-bold f-graydark">
										1234567890 (Suscriptor Principal)
									</span>
								</span>
							</div>
							
							<div class="tabcont-a-b border-b">
								<span>L&iacute;mite</span>

								<span class="pull-right">10 GB</span>

								<div class="tab-arrow">
									<img src="images/tab-arrow.png" width="100%" alt="">
								</div>
							</div>

							<div class="tabcont-f border-b vcenter">
								<div class="icon-phone vcenter">
									<div class="tabcell">
										<img src="images/icon-phone.png" width="100%;" alt="">
									</div>
								</div>

								<span class="vcenter">
									<span class="tabcell f-bold f-graydark">
										1234567890
									</span>
								</span>
							</div>
							
							<div class="tabcont-a-b border-b">
								<span>L&iacute;mite</span>

								<span class="pull-right">10 GB</span>

								<div class="tab-arrow">
									<img src="images/tab-arrow.png" width="100%" alt="">
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>			
			
		</div>
		<!-- [END WRAP] -->

		<%include footer%>

</script>