<script type="text/template" id="consumption">
	<div id="wrapper">
		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Mi Consumo</span>
				</div>
			</div>

			<div class="basicrow">
				<div class="container">
					<div class="basicrow f-little din-b m-top-ii">
						N&uacute;mero de Cuenta
					</div>

					<div class="basicrow text-center">
						<select class="selln f-bold f-med f-black" id="select-account">
							<% _.each(accounts, function(value, index) { %>
							<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> ><%= value.Account %></option>
							<% }); %>
						</select>
					</div>
				</div>
			</div>

			<div class="lineb m-top">

				<% _.each(subscribers, function(subscriber, subscriberIndex) { %>

                <div data-toggle="collapse" data-target="#phone<%= subscriberIndex %>" class="phonebar select-subscriber" data-index="<%= subscriberIndex %>" data-subscriber="<%= subscriber.subscriber %>" data-minute="true" data-data="false" data-sms="false" data-search-info="false">
					<div class="container rel vcenter">
						<div class="tabcell">
							<div id="plus" class="p-sts f-gray">
								+
							</div>

							<div id="minus" class="p-sts f-gray">
								-
							</div>

							<span class="f-med f-black" content="telephone=no"><%= subscriber.subscriber %> </span><br/>
							<span class="f-reg f-gray"><%= typeOfTelephony(subscriber.ProductType) %></span>
						</div>
					</div>
				</div>

				<div id="phone<%= subscriberIndex %>" class="collapse">
					<div class="basicrow">
                          
						<div class="cons-bar" style="display:<%= (usage.Top)?'block':'none' %>">
							<div class="container norel nopad">
								<div class="cons-i text-center f-little din-b vcenter btn-consumption-option btn-minute" data-index="<%= subscriberIndex %>">
									<div class="tabcell">
										Minutos
									</div>
								</div>

								<div class="cons-i text-center f-little din-b vcenter btn-consumption-option btn-sms-mms" data-index="<%= subscriberIndex %>">
									<div class="tabcell">
										SMS/MMS
									</div>
								</div>

								<div class="cons-i on text-center f-little din-b vcenter btn-consumption-option btn-data" data-index="<%= subscriberIndex %>">
									<div class="tabcell">
										Datos
									</div>
								</div>
							</div>
						</div>
                          
						<!-- [INIT MINUTES INFORMATION] -->
						<div class="basicrow consumption-content consumption-minutes-content" style="display:<%= (usage.Top)?'none':'block' %>" id="minutesInformation<%= subscriberIndex %>">
						</div>
						<!-- [END MINUTES INFORMATION] -->


						<!-- [INIT SMS/MMS INFORMATION] -->
						<div class="basicrow consumption-content consumption-sms-mms-content" style="display:none;" id="smsMmsInformation<%= subscriberIndex %>">
						</div>
						<!-- [END SMS/MMS INFORMATION] -->

						<!-- INIT DATA INFORMATION -->
						<div class="basicrow consumption-content consumption-data-content" id="dataInformation<%= subscriberIndex %>">
						</div>
						<!-- END DATA INFORMATION -->

						<div id="shared-data-buttons-container">

							<div class="autobar diff-i hidden consumption-limit">
								<div class="container">
									<div class="g-btn text-center f-med f-white vcenter">
										<div class="tabcell">
											Manejo de l&iacute;mites
										</div>
									</div>
								</div>
							</div>

							<%if (wirelessAccount) {%>
							<div class="autobar diff-i" id="btn-add-aditional-data">
								<div class="container">
									<div class="g-btn text-center f-med f-white vcenter">
										<div class="tabcell">
											Comprar Data Adicional
										</div>
									</div>
								</div>
							</div>
							<% } %>

							<div class="autobar diff-i hidden manage-notifications">
								<div class="container">
									<div class="g-btn text-center f-med f-white vcenter">
										<div class="tabcell">
											Manejo de Notificaciones
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>

				<% });  %>

			</div>


		</div>

		<% include footer %>

	</div>


</script>
