<script type="text/template" id="consumption_limit_subscriber">
		<!-- [INIT TOP CONTAINER] -->
		<div id="topcont">
			<div class="menucont gr-red vcenter">
				
				<div id="menu-icon-left">
					<img src="images/icon-back.png" width="100%;" alt="">
				</div>
				
				<div class="tabcell">
					<div class="menu-tittle text-center f-white din-b">
						L&iacute;mites de Consumo
					</div>
				</div>

				<div id="menu-icon-right" class="btn-menu">
					<img src="images/icon-menu.png" width="100%;" alt="">
				</div>

			</div>
		</div>
		<!-- [END TOP CONTAINER] -->
		
		<!-- [INIT WRAP] -->
		<div id="bodycont">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="basicrow">

							<div class="tabcont-c border-b f-graydark-i din-b text-center">
								L&Iacute;MITE DE CONSUMO POR SUSCRIPTOR
							</div>

							<div class="tabcont-b border-b vcenter">
									
								<div class="tabcell">
									<div class="basicrow">
										<div class="basicrow less-inp f-gray-b">
											Configuraci&oacute;n de l&iacute;mite por:
										</div>

										<div class="turn-cont f-white din-b">
											<div class="turned text-center f-mini">GB</div>
											<div class="unturned text-center f-mini">%</div>
										</div>
									</div>
								</div>

							</div>

							<div class="tabcont-f border-b gray-tab vcenter">
								<div class="icon-phone vcenter">
									<div class="tabcell">
										<img src="images/icon-phone.png" width="100%;" alt="">
									</div>
								</div>

								<span class="vcenter">
									<span class="tabcell f-bold f-graydark">
										1234567890 (Suscriptor Principal)
									</span>
								</span>
							</div>

							<div class="tabcont-a border-b vcenter">
								
								<div class="tabcell">
									<div class="tab-col">
										<div class="fieldcont-a radius-a text-center vcenter">
											<div class="tabcell">
												8
											</div>
										</div>

										<div class="fieldcont-b vcenter">
											<div class="tabcell">
												GB
											</div>
										</div>
									</div>

									<div class="tab-col">
										<div class="fieldcont-c text-center vcenter">
											<div class="tabcell">
												<input type="checkbox" name="" value="">

												<span>
													Reserva del 10%
												</span>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="tabcont-f border-b gray-tab vcenter">
								<div class="icon-phone vcenter">
									<div class="tabcell">
										<img src="images/icon-phone.png" width="100%;" alt="">
									</div>
								</div>

								<span class="vcenter">
									<span class="tabcell f-bold f-graydark">
										1234567890
									</span>
								</span>
							</div>
						
							<div class="tabcont-a border-b vcenter">
								
								<div class="tabcell">
									<div class="tab-col">
										<div class="fieldcont-a radius-a text-center vcenter">
											<div class="tabcell">
												2
											</div>
										</div>

										<div class="fieldcont-b vcenter">
											<div class="tabcell">
												GB
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="tab-btn-b">
								<a href="" class="btn-def btn-red text-center radius-a vcenter">
									<div class="icon-btn">
										<img src="images/arrow-btn.png" width="100%" alt="">
									</div>

									<div class="basicrow tabcell text-center f-white">
										Guardar
									</div>
								</a>
							</div>

							<div class="tab-btn-b">
								<a href="" class="btn-def btn-gray text-center radius-a vcenter">
									<div class="icon-btn">
										<img src="images/ex-btn.png" width="100%" alt="">
									</div>

									<div class="basicrow tabcell text-center f-gray">
										Carcelar
									</div>
								</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>			
			
		</div>
		<!-- [END WRAP] -->

		<%include footer%>

</script>