<script type="text/template" id="debit_direct">
	<div id="wrapper">
			<div class="stopfoot-i">
				<% include header %>
				<% include navmenu %>
				<div class="w-cont din-b f-white">
					<div class="container">
						<span class="f-med">D&eacute;bito Directo</span>
					</div>
				</div>
	
				<!-- Account Section -->
				<div class="basicrow">
					<div class="container">
						<div class="basicrow f-little din-b m-top-ii">
							N&uacute;mero de Cuenta
						</div>
	
						<div class="basicrow text-center">
							<select id="select-account" class="selln f-bold f-med f-black">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>"  <%= value.Account==selectedAccountValue?'selected="selected"':'' %> >
									<%= value.Account %>
								</option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
	
	
				<div class="autobar diffr m-top">
					<div class="container">
						<!-- Condicional si contiene data el getDebitDirect -->
						<!-- Modificar parametro de condicional  -->
						<% if(debitDirectDataEdit == false){ %>
							<div class="basicrow f-little din-b f-black text-justify">
								Ahora Claro te brinda el servicio de D&eacute;bito Directo en el que podr&aacute;s afiliar tu pago de renta mensual para que se ejecute de manera autom&aacute;tica, as&iacute; no tendr&aacute;s que preocuparte por recordar tu fecha de facturaci&oacute;n
								y que tu servicio sea suspendido.
							</div>
						<% } else if(debitDirectDataEdit == true) { %>
							<div class="basicrow f-little din-b f-black text-justify">
								Estimado usuario, ya est&aacute;s afiliado al servicio de D&eacute;bito directo en el que tu pago de renta mensual se ejecuta de manera autom&aacute;tica. Si deseas cancelar el servicio haz click en el bot&oacute;n Cancelar. Recuerda que con D&eacute;bito Directo no tendr&aacute;s que preocuparte por recordar tu fecha de facturaci&oacute;n y que tu servicio sea suspendido.
							</div>								
						<% } %>
					</div>
				</div>
	
				<% if(debitDirectDataEdit == false){ %>
				<div class="autobar diffr">
					<div class="container">
						<div class="halfbar f-little f-bold text-left vcenter">
							<div class="tabcell">
								Tipo de afiliaci&oacute;n
							</div>
						</div>
						<div class="basicrow">
							<select class="selln f-bold f-med f-black" name="debit_direct_type" id="debit_direct_type">
								<option value="">Seleccione</option>
								<option value="CC" <%= typeDebitDirect=='CC'?'selected="selected"':'' %>>Tarjeta de Cr&eacute;dito</option>
								<option value="CH" <%= typeDebitDirect=='CH'?'selected="selected"':'' %>>Cuenta de Cheques</option>
							</select>
						</div>

						<!-- END Tipo de afiliacion Debit Direct -->
					</div>
				</div>
					<% if(typeDebitDirect=="CC"){ %>
					<form id="form-payment-step-1">  
						<div class="autobar f-reg text-center f-black diffr">
							<div class="container">
								<div name="card_type" class="credcard btn-card <%= (debitDirectData!= null && debitDirectData.mCreditCardType=='VS')?'on':'' %>" id="card-VS" data-card-type="VS"">
									<div class="cardimg">
										<img width="100%" src="images/card-a.png">
									</div>
								</div>
								
								<div name="card_type" class="credcard btn-card <%= (debitDirectData != null && debitDirectData.mCreditCardType=='MC')?'on':'' %>" id="card-MC" data-card-type="MC"">
									<div class="cardimg">
										<img width="100%" src="images/card-b.png">
									</div>
								</div>
								
								<div name="card_type" class="credcard btn-card <%= (debitDirectData != null && debitDirectData.mCreditCardType=='AM')?'on':'' %>" id="card-AM" data-card-type="AM">
									<div class="cardimg">
										<img width="100%" src="images/card-d.png">
									</div>
								</div>
							</div>
						</div>
							
						<div class="subtitle nbott din-b f-little text-center f-black vcenter">
							<div class="tabcell">
								DATOS DE LA TARJETA
							</div>
						</div>
	
						<div class="autobar diffr">
							<div class="container">
								<div class="basicrow">
									<input type="text" name="full_name" class="inpln f-bold f-reg f-black" maxlength="85" value="<%= (debitDirectData!= null)?debitDirectData.mCreditCardMemberName:'' %>" placeholder="Nombres y apellidos">
								</div>
	
								<div class="basicrow m-top">
									<input type="text" id="credit-card" name="card_number" maxlength="19" class="inpln f-bold f-reg f-black" value="" placeholder="N&uacute;mero de tarjeta"  onkeypress="return event.charCode >= 48 && event.charCode <= 57">
								</div>
	
								<div class="basicrow m-top">
									<div class="basicrow f-little din-b">
										Fecha de Vencimiento
									</div>
	
									<div class="basicrow">
										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
												<div class="basicrow">
													<select class="selln f-bold f-med f-black" name="card_expiration_month" id="card_expiration_month">
														<option value="">Mes</option>
															<% _.each(months, function(value, index) { %>
																	<option value="<%= value %>" <%= (paymentData!= null && paymentData.cardExpirationDate.substring(0, 2)==value)?'selected':'' %>>
																		<%= value %>
																	</option>
															<% }); %>
													</select>
												</div>
											</div>
	
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
												<div class="basicrow">
													<select class="selln f-bold f-med f-black" name="card_expiration_year" id="card_expiration_year">
														<option value="">A&ntilde;o</option>
														<% _.each(years, function(value, index) { %>
															<option value="<%= value.slice(-2) %>" <%= (paymentData!= null && paymentData.cardExpirationDate.slice(-2)==value.slice(-2))?'selected':'' %>>
																<%= value %>
															</option>
														<% }); %>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
	
								<div class="basicrow m-top">
									<input type="password" name="security_code" class="inpln f-bold f-reg f-black" value="" placeholder="C&oacute;digo de Seguridad (CCV)" size="4" maxlength="4" pattern="[0-9]*">
								</div>
							</div>
						</div>
						<div class="autobar diff">
							<div class="container">
								<div class="r-btn text-center f-med f-white vcenter">
									<div class="tabcell" id="continue-1">
										Continuar
									</div>
								</div>
	
								<div class="g-btn text-center f-med f-white vcenter btn-back">
									<div class="tabcell">
										Cancelar
									</div>
								</div>
							</div>
						</div>
					</form>
					<% } else if ( typeDebitDirect=="CH"){ %>
						<div class="subtitle nbott din-b f-little text-center f-black vcenter">
							<div class="tabcell">
								DATOS DE LA CUENTA
							</div>
						</div>
						<form id="form-account">
							<div class="autobar diffr">
								<div class="container">
									<div class="basicrow">
										<select class="selln f-bold f-med f-black" name="bank_select" id="bank_select">
											<option value="">Número de Ruta Bancaria/Routing Number</option>
											<option value="021502011">Banco Popular of Puerto Rico</option>
											<option value="021502341">Banco Santander of Puerto Rico</option>
											<option value="221571473">Firstbank, P.R.</option>
											<option value="021502804">Scotiabank of Puerto Rico</option>
											<option value="221571415">Oriental Bank</option>
											<option value="221582284">COOP. MANATI</option>
											<option value="021582785">COOP. ISABELA</option>
											<option value="021583658">COOP.ENERGIA ELECTRICA</option>
											<option value="021582727">COOP. SAGRADA FAMILIA</option>
											<option value="021582853">COOP. LAS PIEDRAS</option>
											<option value="221582226">COOP. CAMUY</option>
											<option value="221581706">COOP. MOCA</option>
											<option value="021583247">COOP. SABANENA</option>
											<option value="221582459">COOP.LA PUERTORRIQUENA</option>
											<option value="267089712">FIRST BANK US V.G.</option>
											<option value="221581641">COOP. ARECIBO</option>
											<option value="021582743">COOP. SAN JOSE</option>
											<option value="021584217">COOP. LOS HERMANOS</option>
											<option value="021582976">COOP. AGUADA</option>
											<option value="021583373">COOP.BARRIO QUEBRADA</option>
											<option value="021583593">COOP. VILLALBA</option>
											<option value="021583137">COOP. ANASCO</option>
											<option value="021583360">COOP. MAYAGUEZ</option>
											<option value="221672851">FIRST BANK US V.I.</option>
											<option value="221581751">COOP. VALENCIANO</option>
											<option value="221581722">COOP. MAUNABO</option>
											<option value="221582077">COOP. JAYUYA</option>
											<option value="021583111">COOP. SAN BLAS</option>
											<option value="021583140">COOP. NAGUABENA</option>
											<option value="021582662">COOP. CAGUAS</option>
											<option value="021583328">COOP. CAPARRA</option>
											<option value="021583056">COOP. CIALES</option>
											<option value="021583027">COOP. VEGA ALTA</option>
											<option value="021582756">COOP. AGUAS BUENAS</option>
											<option value="221581748">COOP. ORIENTAL</option>
											<option value="221582310">COOP. CABO ROJO</option>
											<option value="021582701">COOP. GURABO</option>
											<option value="021583483">COOP. PARROCOOP</option>
											<option value="221582174">COOP. YAUCO</option>
											<option value="021502040">CITIBANK</option>
											<option value="221582323">HATICOOP</option>
											<!-- <option value="Other">Other</option> -->
										</select>
									</div>
								</div>
								<div class="container">
									<div class="basicrow m-top">
										<input type="text" id="account-bank-number" name="account_bank_number" class="inpln f-bold f-reg f-black" value="" placeholder="N&uacute;mero de Cuenta" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
								</div>
							</div>
							<div class="autobar diff">
								<div class="container">
									<div class="r-btn text-center f-med f-white vcenter">
										<div class="tabcell" id="continue-2">
											Continuar
										</div>
									</div>
		
									<div class="g-btn text-center f-med f-white vcenter btn-back">
										<div class="tabcell">
											Cancelar
										</div>
									</div>
								</div>
							</div>
						</form>

					<% } %>
				<% } else if(debitDirectDataEdit == true) { %>
					<div class="autobar diffr">
						<div class="container">
							<div class="basicrow f-little din-b f-gray">Afiliado a</div>
							<div class="basicrow m-top-ii">
								<div class="contspace full f-med f-black text-justify f-bold">
									<%= debitDirectData.mType == 'CC'? 'Tarjeta de Cr&eacute;dito' : 'Cuenta de Cheques' %>
								</div>
							</div>
						</div>
					</div>
					<% if(debitDirectData.mType=="CC"){ %>
						<div class="autobar diffr">
						  <div class="container">
							<div class="basicrow f-little din-b f-gray">M&eacute;todo de Pago</div>
			
							<div class="basicrow m-top-ii">
							  <div class="contspace full f-med f-black text-justify f-bold">
								<%= methodsType[debitDirectData.mCreditCardType] %>
							  </div>
							</div>
						  </div>
						</div>
			
						<div class="autobar diffr">
						  <div class="container">
							<div class="basicrow f-little din-b f-gray">Nombre y Apellido</div>
			
							<div class="basicrow m-top-ii">
							  <div class="contspace full f-med f-black text-justify f-bold">
								<%= debitDirectData.mCreditCardMemberName %>
							  </div>
							</div>
						  </div>
						</div>
			
						<div class="autobar diffr">
						  <div class="container">
							<div class="basicrow f-little din-b f-gray">N&uacute;mero de Tarjeta</div>
			
							<div class="basicrow m-top-ii">
							  <div class="contspace full f-med f-black text-justify f-bold">
								xxxx-xxxx-xxxx-<%= debitDirectData.mCreditCardNo %>
							  </div>
							</div>
						  </div>
						</div>
					<% } %>
					<% if(debitDirectData.mType!=="CC"){ %>
					<div class="autobar diffr">
						<div class="container">
							<div class="basicrow f-little din-b f-gray">Banco</div>
	
							<div class="basicrow m-top-ii">
								<select class="selln f-bold f-med f-black" name="bank_select_get" id="bank_select_get">
									<option value=""><%= banksCodeList[debitDirectData.mBankCode].bank %></option>
								</select>
							</div>
						</div>
					</div>
			
					<div class="autobar diffr">
						<div class="container">
							<div class="basicrow f-little din-b f-gray">N&uacute;mero de Cuenta</div>
	
							<div class="basicrow m-top-ii">
								<div class="contspace full f-med f-black text-justify f-bold">
									<%= debitDirectData.mAccountNo %>
								</div>
							</div>
						</div>
					</div>
					<% } %>
					<div class="autobar diff">
						<!-- <div class="container">
							<div class="r-btn text-center f-med f-white vcenter btn-close">
								<div class="tabcell" id="editform">
									Editar
								</div>
							</div>
						</div> -->
						<!-- <div class="container">
							<div class="g-btn text-center f-med f-white vcenter btn-close">
								<div class="tabcell" id="cancel-1">
									Cancelar
								</div>
							</div>
						</div>-->
					</div>
	
				<% } %>
			</div>
			<% include footer %>
		</div>

</script>
