<script type="text/template" id="device">

	<div id="wrapper">
		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Mis Equipos y Servicios</span>
				</div>
			</div>

			<div class="basicrow">
				<div class="container">
					<div class="basicrow f-little din-b m-top-ii">
						N&uacute;mero de Cuenta
					</div>

					<div class="basicrow text-center">
						<select id="select-account" class="selln f-bold f-med f-black">
							<% _.each(accounts, function(value, index) { %>
							<option value="<%= value.Account %>" <%= value.Account==selectedAccountValue?'selected="selected"':'' %> >
							<%= value.Account %>
							</option>
							<% }); %>
						</select>
					</div>
				</div>
			</div>

			<div class="lineb m-top">
				<% _.each(subscribers, function(value, index) { %>
				<div data-toggle="collapse" data-target="#phone<%= index %>" class="phonebar select-subscriber" data-index="<%= index %>" data-subscribers="<%= value.subscriber %>" data-ProductType="<%= value.ProductType %>" id="select-subscriber-<%= index %>" data-search-info="false">
					<div class="container rel vcenter">
						<div class="tabcell">
							<div id="plus" class="p-sts f-gray">
								+
							</div>

							<div id="minus" class="p-sts f-gray">
								-
							</div>

							<span class="f-med f-black"><%= value.subscriber %></span><br/>
							<span class="f-reg f-gray"><%= typeOfTelephony(value.ProductType) %></span>
						</div>
					</div>
				</div>

				<div id="phone<%= index %>" class="collapse">
                
					<div class="basicrow">
                        <% if((typeOfTelephony(value.ProductType)) == "Móvil"){ %>
                          
						<div class="autobar bg-white">
							<div class="container norel">
								<div class="phonespace text-left">
									<% if (value.imgDivice != null) {%>
										<img src="<%= value.imgDivice %>" id="image-device" alt="">
									<% } else { %>
										<img src="images/default_device.png" id="image-device" alt="">
									<% }%>
								</div>

								<div class="contspace">
									<div class="basicrow">
										<span class="f-little din-b f-gray">Equipo</span><br/>
									</div>
                                    <div class="basicrow m-top-ii">
                                        <div class="contspace f-med f-black text-justify f-bold">
                                            <span class="f-lmed f-black f-bold"><%= value.Divice %></span>
                                        </div>
                                    </div>

									<div class="btnspace vcenter btn-consumption">
										<div class="tabcell bottom">
											<div class="r-btn text-center f-med f-white vcenter">
												<div class="tabcell">
													Ver Consumo
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                          
                        <% } %>
                         
                        <div class="autobar">
							<div class="container">
								<div class="basicrow f-little din-b f-gray">Plan Actual</div>

								<div class="basicrow m-top-ii">
									<div class="contspace f-med f-black text-left f-bold">
										<%= value.Plan %> - $<%=parseFloat(value.PlanRate.replace('$','')).toFixed(2) %>
									</div>

									<div class="phonespace f-lmed f-red din-b text-right">
										$<%=parseFloat(value.PlanRate.replace('$','')).toFixed(2) %>
									</div>
								</div>
                            </div>
                        </div>
                                <div class="autobar">
                                    <div class="container">
                                        <div class="basicrow f-little din-b f-gray">Fecha de Contrato</div>
                          
                                            <div class="basicrow m-top-ii">
                                                <div class="contspace full f-med f-black text-justify f-bold">
                                                    <%= value.StartDate %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                          
                                    <div class="autobar">
                                        <div class="container">
                                            <div class="basicrow f-little din-b f-gray">Su Contrato termina</div>
                          
                                                <div class="basicrow m-top-ii">
                                                    <div class="contspace full f-med f-black text-justify f-bold">
                                                        <%= value.EndDate %>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                          
                                    <div class="autobar">
                                        <div class="container">
                                            <div class="basicrow f-little din-b f-gray">Meses de Contrato</div>
                          
                                                <div class="basicrow m-top-ii">
                                                    <div class="contspace full f-med f-black text-justify f-bold">
                                                        <%= value.ContarctMonth %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                          

						<% if (value.hasSVAs) { %>
							<div class="autobar">
								<div class="container">
									<div class="basicrow f-little din-b f-gray">Servicios Adicionales</div>
									<% _.each(value.SVAs, function(value, index) { %>
									<div class="basicrow m-top-ii">
										<div class="contspace f-med f-black text-left f-bold">
											<%= value.Description %>
										</div>

										<div class="phonespace f-lmed f-red din-b text-right">
											$<%= parseFloat(value.Rent).toFixed(2) %>
										</div>
									</div>
									<% }) %>

								</div>
							</div>
						<% } %>

						<!-- Claro Update Account -->
						<% if (value.UpdateMonths>0) { %>
                    <div class="autobar">
                        <div class="container">
                          <div class="basicrow f-little din-b f-gray">Equipo a Plazos</div>
                          
                            <div class="basicrow m-top">
                                <div class="basicrow f-med f-black text-justify f-bold">
                                    <%= value.Divice %>
                                </div>
                            </div>
                          
                            <div class="basicrow m-top">
                                <div class="contspace f-med f-black text-justify f-bold">
                                    Monto Cuota
                                </div>
                          
                                <div class="phonespace f-lmed f-red din-b text-right">
                                    <%= value.UpdateRent %>
                                </div>
                            </div>
                          
                            <div class="basicrow m-top">
                                <div class="contspace f-med f-black text-justify f-bold">
                                    Cuotas Restantes
                                </div>
                          
                                <div class="phonespace f-lmed f-red din-b text-right">
                                    <%= value.UpdateMonths %>
                                </div>
                            </div>
                          
                            <!--div class="basicrow m-top-ii" id="btn-pay-quota">
                                <div class="b-btn text-center f-med f-white vcenter">
                                    <div class="tabcell">
                                        Pagar Equipo
                                    </div>
                                </div>
                            </div-->
                        </div>
                    </div>
                          <% } %>
                          
                        <div class="statusGuarantee">
                        </div>
                          
                          <% if((typeOfTelephony(value.ProductType)) == "Fijo"){ %>
                          <div class="statusAveria">
                          </div>
                          <% } %>

						<div class="big-bal difst text-center">
							<div class="theight">
								<span class="tmed-s din-b f-red">$</span>
								<span class="big-s din-b f-red"><%= value.NewAmountValue[0] %></span>
								<span class="tmed-s din-b f-red"><span class="tabcell"><%= value.NewAmountValue[1] %></span></span>
							</div>

							<div class="basicrow f-little m-bottom f-bold">Renta Mensual</div>
						</div>
                          
                          <% if((typeOfTelephony(value.ProductType)) == "Fijo"){ %>
                          
                          <div  class="autobar diff-i btn-fixed-failure" id="btn-fixed-failure_<%= index %>">
                            <div class="container">
                                <div class="r-btn text-center f-med f-white vcenter">
                                    <div class="tabcell">
                                        Reportar Avería
                                    </div>
                                </div>
                            </div>
                          </div>
                          
                          <% } %>
					</div>

				<%})%>

			</div>

		</div>

		<% include footer %>

	</div>

</script>
