<script type="text/template" id="footer">

		<!-- [INIT FOOTER] -->
		<div id="btn-help" class="footbar footcont footothers" >

			<div class="basicrow text-center">
				<img class="chaticon" width="100%" src="images/chaticon.png">
			</div>

			<div class="basicrow f-white f-small text-center">
				Ayuda
			</div>

		</div>
        
        <div id="btn-help" class="footbar footcont footiphoneX" >
        
            <div class="basicrow f-white f-small text-center">
                <img class="chaticon" width="100%" src="images/chaticon.png"> Ayuda
            </div>
        
        </div>
		<!-- [END FOOTER] -->
    
</script>
