<script type="text/template" id="gift_accept">
        
	<div id="wrapper">
		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Regala 1GB a un Amigo</span>
				</div>
			</div>

			<div class="giftban text-center">
				<img width="100%" src="images/1gbgift.png">
			</div>

			<iframe src="<%= url %>" id="gift-iframe" onLoad="$.mobile.activePage.trigger('iframeload');"  frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:112px;left:0px;right:0px;bottom:0px" height="100%" width="100%"></iframe>

		</div>

	</div>
        

</script>
