<script type="text/template" id="gift_send recharge">

	<div id="wrapper">
		<div class="stopfoot-i">

			<% include header %>

            <% include navmenu %>

            <div class="w-cont din-b f-white">
                <div class="container">
                    <span class="f-med">Regala 1 Recarga</span>
                </div>
            </div>

            <iframe src="<%= url %>" id="gift-iframe" onload="$.mobile.activePage.trigger('iframeload'); " frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:112px;left:0px;right:0px;bottom:0px"
                height="100%" width="100%">
            </iframe>

		</div>

	</div>

</script>
