<script type="text/template" id="header">

	<div class="headbar text-center vcenter">
		<div class="container rel vcenter">
			<div class="tabcell">

                <% if (showBackBth) { %>
				<div class="btn-back">
					<img class="dispicon" width="100%" src="images/backicon2.png">
				</div>
                <% } %>

				<div class="open-menu">
					<img class="backicon" width="100%" src="images/mdispicon.png" >
				</div>

				<img class="headlogo" width="100%" src="images/miclarologo.png">
			</div>
		</div>
	</div>
    
</script>
