<script type="text/template" id="help">

    <div id="wrapper">
        <div class="stopfoot-i">
        
            <div class="headbar text-center vcenter">
                <div class="container rel vcenter">
                    <div class="tabcell">

                        <div class="btn-back">
                            <img class="dispicon" width="100%" src="images/backicon2.png">
                        </div>

                        <img class="headlogo" width="100%" src="images/miclarologo.png">
                    </div>
                </div>
            </div>

            <div class="w-cont din-b f-white">
                <div class="container">
                    <span class="f-med">Ayuda</span>
                </div>
            </div>

            <div class="lineb">
            
                <div class="container rel">
                    Utilice su usuario y contrase&ntilde;a para tener acceso a su cuenta, si a&uacute;n no los ha creado, oprima la opci&oacute;n &quot;Registrar Cuenta&quot;
                </div>                

            </div>
        </div>

        <% include footer %>

    </div>

</script>
