<script type="text/template" id="help_pin">

    <div data-role="header">
        <div class="ui-grid-solo ui-bar-menu f-minimed biggerh">            
            <h1 class="ui-title avenir" role="heading">Ayuda</h1>
        </div>
    </div><!-- /header -->

    <div data-role="content">   

        <ul data-theme="a" data-inset="true" data-role="listview">
			<li data-theme="a" class="f-med txt-light">
				El PIN que establezcas podr&aacute;s utilizarlo en caso de que te comuniques con Servicio al Cliente de Claro para cualquier gesti&oacute;n con tu cuenta de eBill.
			</li>
		</ul>

        <a id="btn-back" data-role="button"  data-theme="i" class="ui-btn-up-h f-big">
            Volver
        </a> 
        
    </div><!-- /content -->  

    <div data-role="footer" class="ui-footer ui-bar-d">
		<div class="ui-bodyf">
			<img src="images/inners-footer.png" width="100%">
			<div class="ui-footer-logo">
            	<img src="images/claro-login-logotop.png" width="100%">
				&nbsp;
			</div>
		</div>
	</div><!-- /footer -->  
</script>