<script type="text/template" id="help_section">

    <div id="wrapper">
        <div class="stopfoot-i">

			<div class="headbar text-center vcenter">
                <div class="container rel vcenter">
                    <div class="tabcell">
                    
                        <% if (showBackBth) { %>
                        <div class="btn-back">
                            <img class="dispicon" width="100%" src="images/backicon2.png">
                        </div>
                        <% } %>
                    
                        <img class="headlogo" width="100%" src="images/miclarologo.png">
                    </div>
                </div>
            </div>

            <div class="w-cont din-b f-white">
                <div class="container">
                    <span class="f-med">Ayuda</span>
                </div>
            </div>

            <div class="lineb">
                <div class="sectbar" id="btn-faq">
                    <div class="container rel">
                        <img class="sectarrow" width="100%" src="images/arrow-iii.png">

                        <div class="sect-full f-lmed f-bold f-black vcenter">
                            <div class="tabcell">
                                Preguntas Frecuentes
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sectbar" id="btn-support-chat">
                    <div class="container rel">
                        <img class="sectarrow" width="100%" src="images/arrow-iii.png">

                        <div class="sect-full f-lmed f-bold f-black vcenter">
                            <div class="tabcell">
                                Soporte en L&iacute;nea por Chat
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sectbar" id="btn-contact-us">
                    <div class="container rel">
                        <img class="sectarrow" width="100%" src="images/arrow-iii.png">

                        <div class="sect-full f-lmed f-bold f-black vcenter">
                            <div class="tabcell">
                                Cont&aacute;ctanos
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sectbar" id="btn-failure-report">
                    <div class="container rel">
                        <img class="sectarrow" width="100%" src="images/arrow-iii.png">

                        <div class="sect-full f-lmed f-bold f-black vcenter">
                            <div class="tabcell">
                                Reportar Fallas<br/>
                                <span class="f-small f-gray">Informar sobre un problema.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sectbar" id="btn-improvement">
                    <div class="container rel">
                        <img class="sectarrow" width="100%" src="images/arrow-iii.png">

                        <div class="sect-full f-lmed f-bold f-black vcenter">
                            <div class="tabcell">
                                Sugerencias<br/>
                                <span class="f-small f-gray">Tu opini&oacute;n es valiosa para nosotros.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sectbar" id="btn-about">
                    <div class="container rel">
                        <img class="sectarrow" width="100%" src="images/arrow-iii.png">

                        <div class="sect-full f-lmed f-bold f-black vcenter">
                            <div class="tabcell">
                                Acerca de
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sectbar" id="btn-locations">
                    <div class="container rel">
                        <img class="sectarrow" width="100%" src="images/arrow-iii.png">

                        <div class="sect-full f-lmed f-bold f-black vcenter">
                            <div class="tabcell">
                                Localidades
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</script>
