<script type="text/template" id="help_email">

    <div data-role="header">
        <div class="ui-grid-solo ui-bar-menu f-minimed biggerh">            
            <h1 class="ui-title avenir" role="heading">Ayuda</h1>
        </div>
    </div><!-- /header -->

    <div data-role="content">   

        <ul data-theme="a" data-inset="true" data-role="listview">
			<li data-theme="a" class="f-med txt-light">
				Es importante que el correo electr&oacute;nico que introduzcas sea uno que utilizas a diario ya que el enlace al cual debes acceder para completar el registro ser&aacute; enviado a esa direcci&oacute;n.  Adem&aacute;s, cuando las notificaciones de factura est&eacute;n disponibles ser&aacute;n enviadas al mismo correo electr&oacute;nico.
			</li>
		</ul>

        <a id="btn-back" data-role="button"  data-theme="i" class="ui-btn-up-h f-big">
            Volver
        </a> 
        
    </div><!-- /content -->  
   
    <div data-role="footer" class="ui-footer ui-bar-d">
		<div class="ui-bodyf">
			<img src="images/inners-footer.png" width="100%">
			<div class="ui-footer-logo">
            	<img src="images/claro-login-logotop.png" width="100%">
				&nbsp;
			</div>
		</div>
	</div><!-- /footer --> 
    
</script>