<script type="text/template" id="invoice">

	<div id="wrapper">
		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Mis Facturas</span>
				</div>
			</div>

			<div class="basicrow">
				<div class="container">
					<div class="basicrow f-little din-b m-top-ii">
						N&uacute;mero de Cuenta
					</div>

					<div class="basicrow text-center">
						<select id="select-account" class="selln f-bold f-med f-black">
							<% _.each(accounts, function(value, index) { %>
							<option value="<%= value.Account %>"  <%= value.Account==selectedAccountValue?'selected="selected"':'' %> >
							<%= value.Account %>
							</option>
							<% }); %>
						</select>
					</div>
				</div>
			</div>


			<div class="sectbar m-top" id="btn-view">
				<div class="container rel">
					<img class="sectarrow" width="100%" src="images/arrow-iii.png">

					<div class="sect-full f-lmed f-bold f-black vcenter">
						<div class="tabcell">
							Factura Original (PDF)
						</div>
					</div>
				</div>
			</div>

			<div class="infbar">
				<div class="container norel">
					<div class="halfbar f-little f-bold text-left vcenter">
						<div class="tabcell">
							&Uacute;ltima Factura
						</div>
					</div>

					<div class="halfbar f-reg f-bold f-red text-right vcenter">
						<div class="tabcell">
							$<%= parseFloat(String(accountInfo.PastDueAmt).replace('$','')).toFixed(2) %>
						</div>
					</div>
				</div>
			</div>

			<div class="infbar">
				<div class="container norel">
					<div class="halfbar f-little f-bold text-left vcenter">
						<div class="tabcell">
							&Uacute;ltimo Pago
						</div>
					</div>

					<div class="halfbar f-reg f-bold f-red text-right vcenter">
						<div class="tabcell">
							$<%= parseFloat(String(accountInfo.LastPayment).replace('$','')).toFixed(2) %>
						</div>
					</div>
				</div>
			</div>

			<div class="infbar">
				<div class="container norel">
					<div class="halfbar f-little f-bold text-left vcenter">
						<div class="tabcell">
							Fecha de Factura
						</div>
					</div>

					<div class="halfbar f-reg f-bold f-black text-right vcenter">
						<div class="tabcell">
							<%= accountInfo.BillDate %>
						</div>
					</div>
				</div>
			</div>

			<div class="infbar">
				<div class="container norel">
					<div class="halfbar f-little f-bold text-left vcenter">
						<div class="tabcell">
							Su Factura Vence
						</div>
					</div>

					<div class="halfbar f-reg f-bold f-black text-right vcenter">
						<div class="tabcell">
							<%= accountInfo.BillDateEnd %>
						</div>
					</div>
				</div>
			</div>

			<div class="infbar">
				<div class="container norel">
					<div class="halfbar f-little f-bold text-left vcenter">
						<div class="tabcell">
							Balance Pendiente
						</div>
					</div>

					<div class="halfbar f-reg f-bold f-red text-right vcenter">
						<div class="tabcell">
							<%=amtDue %>
						</div>
					</div>
				</div>
			</div>

			<div class="infbar">
				<div class="container norel">
					<div class="halfbar f-little f-bold text-left vcenter">
						<div class="tabcell">
							Monto a Pagar ($) <img class="qs-icon" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Ahora puedes abonar hasta $500.00. Si la cantidad indica CR, significa que usted tiene cr&eacute;dito en su cuenta" width="100%" src="images/qst-icon.png">
						</div>
					</div>

					<div class="halfbar f-reg f-bold f-black text-right vcenter">
						<div class="tabcell">
							<input id="due_amount" value="<%=amtDue%>" class="mntinp text-right f-reg" />
						</div>
					</div>
				</div>
			</div>
            
            <div class="autobar diff">
                <div class="container" id="btn-debit">
                    <div class="r-btn text-center f-med f-white vcenter">
                        <div class="tabcell">
                            D&eacute;bito Directo
                        </div>
                    </div>
                </div>
                
				<div class="container" id="btn-bill">
					<div class="r-btn text-center f-med f-white vcenter">
						<div class="tabcell">
							Pagar Factura
						</div>
					</div>
				</div>
			</div>
		</div>

		<% include footer %>

	</div>
        
</script>
