<script type="text/template" id="locations">

    <div id="wrapper">
        <div class="stopfoot-i">

			<div class="headbar text-center vcenter">
                <div class="container rel vcenter">
                    <div class="tabcell">
                    
                        <% if (showBackBth) { %>
                        <div class="btn-back">
                            <img class="dispicon" width="100%" src="images/backicon2.png">
                        </div>
                        <% } %>
                    
                        <img class="headlogo" width="100%" src="images/miclarologo.png">
                    </div>
                </div>
            </div>

            <div class="w-cont din-b f-white">
                <div class="container">
                    <span class="f-med">Localidades</span>
                </div>
            </div>

            <div class="cons-bar wbg">
                <div class="container norel nopad">
                    <div data-store-type="1" class="btn-store cons-i text-center f-little din-b vcenter  <%= (activeStoreType==1)?'on':'' %>">
                        <div class="tabcell">
                            CACs
                        </div>
                    </div>

                    <div data-store-type="2" class="btn-store cons-i text-center f-little din-b vcenter <%= (activeStoreType==2)?'on':'' %>">
                        <div class="tabcell">
                            Kioscos
                        </div>
                    </div>

                    <div data-store-type="3" class="btn-store cons-i text-center f-little din-b vcenter <%= (activeStoreType==3)?'on':'' %>">
                        <div class="tabcell">
                            Tiendas
                        </div>
                    </div>
                </div>
            </div>

            <div class="subtitle nbott din-b f-little text-center f-black vcenter">
                <div class="tabcell">
                    LOCALIDADES CERCANAS
                </div>
            </div>

            <div class="lineb" id="store-type-1" data-store-type="1">
                <% _.each(stores, function(store, index) { %>
                    <div class="sectbar hdef btn-store-detail" data-store-id="<%=store.id%>">
                        <div class="container rel">
                            <img class="sectarrow" width="100%" src="images/arrow-iii.png">

                            <div class="sect-full modrt f-reg f-bold f-black vcenter">
                                <div class="tabcell">
                                    <span class="f-red"><%= store.name %></span><br/>
                                    <span class="f-dgray f-little">
                                        <%= store.address %><br/>
                                        <%= store.town %>
                                    </span>
                                </div>
                            </div>

                          
                          
                                <% if(store.longitude != 0 && store.latitude != 0) { %>
                                <div class="basicrow f-red din-b f-mini <%= (store.distance != 0)?'':'hidden' %>" style="margin-top:10px; width:auto;">
                                	<span class="pull-right"><%= parseFloat(store.distance).toFixed(2) %> mil</span>
                                </div>
                                <% } %>
                          

                        </div>
                    </div>
                <% }) %>


            </div>
        </div>

    </div>

</script>
