<script type="text/template" id="location_detail">

	<div id="wrapper">
		<div class="stopfoot-i">

			<div class="headbar text-center vcenter">
                <div class="container rel vcenter">
                    <div class="tabcell">
                    
                        <% if (showBackBth) { %>
                        <div class="btn-back">
                            <img class="dispicon" width="100%" src="images/backicon2.png">
                        </div>
                        <% } %>
                    
                        <img class="headlogo" width="100%" src="images/miclarologo.png">
                    </div>
                </div>
            </div>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Localidades</span>
				</div>
			</div>

			<div class="autobar f-reg text-justify f-bold f-black diffr">
				<div class="container">
					<span class="f-red f-med"><%= store.name %></span><br/>
					<% if(store.schedule!=null && store.schedule != '' ) { %>
					Horario:<br/>
					<%= store.schedule %>
					<% } %>
				</div>
				
				<% if(store.distance != 0 && store.longitude != 0 && store.latitude != 0) { %>
					<div class="tab-arrow less-r m-w">
						<div class="basicrow f-red din-b f-mini">
							<span class="pull-right"><%= parseFloat(store.distance).toFixed(2) %>  mil</span>
						</div>
					</div>
				<% } %>

			</div>

			<% if (store.address != null && store.address != '' ) { %>
				<div class="autobar f-reg text-justify f-bold f-black diffr">
					<div class="container">
						<%= store.address %><br/>
						<%= store.town %>
					</div>
				</div>
			<% } %>

			<!-- [INIT MAP] -->
			<div class="autobar diffr nopads">
				<div class="map-container" id="store-map" style="height: 200px"></div>
			</div>
			<!-- [END MAP] -->


			<!-- FIXME STYLES --
			<% if(store.phone!=null && store.phone!=''){ %>
				<div class="tabcont-b border-b">
					<div class="basicrow text-center">
						<a href="tel:<%=store.phone%>">
							<span class="phone-icon p-center"><img src="images/phone-icon.png" width="100%;" alt=""></span><span class="f-bold"><%=store.phone%></span>
						</a>
					</div>
				</div>
			<% } %>
			-- FIXME STYLES -->

			<% if(store.latitude!='' && store.longitude!=''){ %>
				<div class="lineb store-route">
					<div class="sectbar">
						<div class="container rel">
							<img class="sectarrow" width="100%" src="images/arrow-iii.png">

							<div class="sect-a vcenter">
								<div class="tabcell">
									<img class="sect-icon address" width="100%" src="images/address-icon.png">
								</div>
							</div>

							<div class="sect-b f-lmed f-bold f-black vcenter">
								<div class="tabcell">
									Direcci&oacute;n
								</div>
							</div>
						</div>
					</div>
				</div>
			<% } %>

		</div>

	</div>


</script>
