 <script type="text/template" id="home">

	 <div id="wrapper">
		 <div class="stopfoot-i">
			 <div class="container">
                 
				 <div class="basicrow m-top text-center login-logo">
					 <img class="l-logo" width="100%" src="images/miclarointrov2.png">
				 </div>

				 <div class="basicrow rel m-top-i">
					 <img class="inficon" width="100%" src="images/info-icon.png" id="btn-login-help">
					 <input type="text" name="login" id="login" class="inpln inf f-bold f-reg f-black" placeholder="Usuario" value="<%=login%>" autocapitalize="off">
				 </div>

				 <div class="basicrow m-top">
					 <input type="password" id="password" class="inpln f-bold f-reg f-black" placeholder="Contrase&ntilde;a" value="<%=password%>" autocapitalize="off">
				 </div>

				 <div class="basicrow m-top">
					 <div class="autocont f-small f-bold pull-left">
						 <input type="checkbox" name="remember" id="remember" class="css-checkbox" <%= remember?'checked':''%>/>
						 <label class="css-label radGroup1"></label><label for="remember">Mantener Autenticado</label>
					 </div>
					<% if(touch) { %>
					 <div class="autocont f-small f-bold pull-right">
                         <input type="checkbox" class="css-checkbox" name="touch-id" id="touchId" <%= touchChecked?'checked':''%> />
						 <label class="css-label radGroup1"></label><label id="touchIdLabel" for="touchId"><%= !touchChecked ? 'Configurar Touch ID':'Touch ID' %></label>
                     </div>
                     <% } %>
				 </div>

				 <div class="basicrow m-top-ii">
					 <div class="r-btn text-center f-med f-white vcenter">
						 <div class="tabcell" id="btn-login-touch-id">
							 Continuar
						 </div>
					 </div>

					 <div class="g-btn text-center f-med f-white vcenter">
						 <div class="tabcell" id="btn-forgot">
							 ¿Olvid&eacute; mi contrase&ntilde;a?
						 </div>
					 </div>

					 <div class="g-btn text-center f-med f-white vcenter">
						 <div class="tabcell" id="btn-signin">
							 Registrar Cuenta
						 </div>
					 </div>
				 </div>
			 </div>
		 </div>

		 <% include footer %>

	 </div>
	    
</script>
