<script type="text/template" id="manage_notifications">
	<div id="wrapper">
		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Factura Electr&oacute;nica y Notificaciones</span>
				</div>
			</div>

			<div class="basicrow">
				<div class="container">
					<div class="basicrow f-little din-b m-top-ii">
						N&uacute;mero de Cuenta
					</div>

					<div class="basicrow text-center">
						<select id="select-account" class="selln f-bold f-med f-black">
							<% _.each(accounts, function(value, index) { %>
							<option value="<%= value.Account %>"  <%= value.Account==selectedAccountValue?'selected="selected"':'' %> >
							<%= value.Account %>
							</option>
							<% }); %>
						</select>
					</div>
				</div>
			</div>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicrow f-little din-b m-top-ii">
						N&uacute;mero de Tel&eacute;fono(s)
					</div>

					<div class="basicrow text-center">
						<select id="select-subscriber" class="selln f-bold f-med f-black">
							<% _.each(subscribers, function(value, index) { %>
							<option value="<%= value.subscriber%>" <%= value.subscriber==selectedSubscriber.subscriber?'selected="selected"':'' %>>
							<%= value.subscriber %>
							</option>
							<% }); %>
						</select>
					</div>
				</div>
			</div>

			<div class="subtitle nbott din-b f-little text-center f-black m-top vcenter">
				<div class="tabcell">
					SELECCIONE ENTRE LAS OPCIONES
				</div>
			</div>
            
            <% if(hasPaperless) { %>
			<div class="notifcont">
				<div class="container norel">
					<div class="ntf-i text-left f-reg f-black vcenter">
						<div class="tabcell">
							&iquest;Desea recibir su factura electr&oacute;nicamente?<label id="s1"></label>
						</div>
					</div>

					<div class="ntf-ii text-center f-med din-b vcenter">
						<div class="tabcell">
							<div class="switchcont">
								<span class="pull-right f-red">
									<input data-switch-type="PAPERLESS" data-size="mini" data-on-text="SI" data-off-text="NO" type="checkbox" id="paperless-switch" class="notification-switch" checked="false">
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow">
				<div class="container">
					<div class="selectnote">
						<div class="noteicon text-center">
							<img width="100%" src="images/leaficon.png">
						</div>

						<div class="notetext f-black text-justify f-small">
							<span class="f-bold f-red">Nota:</span> Al suscribirte a Mi Claro recibes tu factura en formato digital y nos ayudas a conservar el ambiente.<br/><br/>
							Si deseas recibir la factura en papel, cambia tu respuesta a NO.
						</div>
					</div>
				</div>
			</div>
            <% } %>
            <% if(productType) { %>
            <div class="notifcont">
                <div class="container norel">
                    <div class="ntf-i text-left f-reg f-black vcenter">
                        <div class="tabcell">
                            &iquest;Desea recibir notificaci&oacute;n de consumo de datos?<label id="s3"></label>
                        </div>
                    </div>
            
                    <div class="ntf-ii text-center f-med din-b vcenter">
                        <div class="tabcell">
                            <div class="switchcont">
                                <span class="pull-right f-red">
                                    <input data-switch-type="DATA" data-size="mini" data-on-text="SI" data-off-text="NO" type="checkbox" id="data-switch" class="notification-switch" checked="false">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% if(hasSms) { %>
            <div class="notifcont">
                <div class="container norel">
                    <div class="ntf-i text-left f-reg f-black vcenter">
                        <div class="tabcell">
                        &iquest;Desea recibir promociones de Mi Claro por SMS?<label id="s4"></label>
                        </div>
                    </div>
            
                    <div class="ntf-ii text-center f-med din-b vcenter">
                        <div class="tabcell">
                            <div class="switchcont">
                                <span class="pull-right f-red">
                                    <input data-switch-type="SMS" data-size="mini" data-on-text="SI" data-off-text="NO" type="checkbox" id="sms-switch" class="notification-switch" checked="false">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% if(hasConfirmSms) { %>
			<div class="notifcont">
				<div class="container norel">
					<div class="ntf-i text-left f-reg f-black vcenter">
						<div class="tabcell">
							&iquest;Desea recibir confirmaciones de pagos de Mi Claro por SMS?<label id="s5"></label>
						</div>
					</div>

					<div class="ntf-ii text-center f-med din-b vcenter">
						<div class="tabcell">
							<div class="switchcont">
								<span class="pull-right f-red">
                                    <input data-switch-type="CONFIRM" data-size="mini" data-on-text="SI" data-off-text="NO" type="checkbox" id="confirm-switch" class="notification-switch" checked="false">
                                </span>
							</div>
						</div>
					</div>
				</div>
			</div>
            <% } %>
			<div class="notifcont">
				<div class="container norel">
					<div class="ntf-i text-left f-reg f-black vcenter">
						<div class="tabcell">
                        &iquest;Desea recibir promociones de Mi Claro por correo electr&oacute;nico?<label id="s6"></label>
						</div>
					</div>

					<div class="ntf-ii text-center f-med din-b vcenter">
						<div class="tabcell">
							<div class="switchcont">
								<span class="pull-right f-red">
									<input data-switch-type="PROMOTION" data-size="mini" data-on-text="SI" data-off-text="NO" type="checkbox" id="promotion-switch" class="notification-switch" checked="false">
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="notifcont">
				<div class="container norel">
					<div class="ntf-i text-left f-reg f-black vcenter">
						<div class="tabcell">
							&iquest;Agregar este suscriptor a la lista de &quot;No Llamar&quot;?<label id="s7"></label>
						</div>
					</div>

					<div class="ntf-ii text-center f-med din-b vcenter">
						<div class="tabcell">
							<div class="switchcont">
								<span class="pull-right f-red">
									<input data-switch-type="DONOCALL" data-size="mini" data-on-text="SI" data-off-text="NO" type="checkbox" id="nocall-switch" class="notification-switch" checked="false">
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="autobar diff btn-back">
				<div class="container">
					<div class="g-btn text-center f-med f-white vcenter">
						<div class="tabcell">
							Cancelar
						</div>
					</div>
				</div>
			</div>
		</div>

		<%include footer%>

	</div>

</script>
