<script type="text/template" id="menu">

	<div id="wrapper">
		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="w-cont din-r f-white">
				<div class="container">
					<span class="f-little">Bienvenido,</span><br/>
					<span class="f-med nombre-cap"><%= name %></span>
				</div>
			</div>

			<div class="basicrow">
				<div class="container">
					<div class="basicrow f-little din-b m-top-ii">
						N&uacute;mero de Cuenta
					</div>

					<div class="basicrow text-center">
						<select id="select-account" class="selln f-bold f-med f-black">
							<% _.each(accounts, function(value, index) { %>
							<option value="<%= value.Account %>"  <%= value.Account==selectedAccountValue?'selected="selected"':'' %> >
							<%= value.Account %>
							</option>
							<% }); %>
						</select>
					</div>
				</div>
			</div>

			<div class="subtitle din-b f-little text-center f-black m-top vcenter">
				<div class="tabcell">
					RESUMEN DE LA FACTURA
				</div>
			</div>

			<div class="big-bal text-center">
				<div class="theight">
					<% if (haveCredit) { %>
					<span class="tmed-s din-b f-red">CR &nbsp;</span>
					<% } %>
					<span class="tmed-s din-b f-red">$</span>
					<span class="big-s din-b f-red"><%=newAmountValue[0]%></span>
					<span class="tmed-s din-b f-red"><span class="tabcell"><%=newAmountValue[1]%></span></span>
				</div>

				<div class="basicrow f-little m-bottom f-bold">Balance Actual</div>
			</div>

			<div class="infbar">
				<div class="container norel">
					<div class="halfbar f-little f-bold text-left vcenter">
						<div class="tabcell">
							Vence en
						</div>
					</div>

					<div class="halfbar f-reg f-bold f-black text-right vcenter">
						<div class="tabcell">
							<%=billDateEnd%>
						</div>
					</div>
				</div>
			</div>

			<div class="infbar b-line">
				<div class="container norel">
					<div class="halfbar f-little f-bold text-left vcenter">
						<div class="tabcell">
							Monto a Pagar ($)
                            <div id="popover-payment" class="qs-icon" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Ahora puedes abonar hasta $500.00. Si la cantidad indica CR, significa que usted tiene cr&eacute;dito en su cuenta" width="100%">
                                <img src="images/qst-icon.png" width="100%;" alt="">
                            </div>
						</div>
					</div>

					<div class="halfbar f-reg f-bold f-black text-right vcenter">
						<div class="tabcell">
							<input class="mntinp text-right" type="text" id="due-amount" name="due-amount" value="<%=amtDue%>">
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow m-bottom-i">
				<div class="container">
					<div class="r-btn text-center f-med f-white vcenter" id="btn-bill">
						<div class="tabcell">
							Pagar
						</div>
					</div>

					<div class="g-btn text-center f-med f-white vcenter" id="btn-invoice">
						<div class="tabcell">
							Mi factura
						</div>
					</div>
				</div>
			</div>
            
			<% _.each(currentSubscribers, function(value, index) { %>

			<div data-toggle="collapse" data-target="#phone<%= index %>" class="phonebar select-subscriber" data-index="<%= index %>" data-subscriber="<%= value.subscriber %>" data-search-info=false>
				<div class="container rel vcenter">
					<div class="tabcell">
						<div id="plus" class="p-sts f-gray">
							+
						</div>

						<div id="minus" class="p-sts f-gray">
							-
						</div>

						<span class="f-med f-black"><%= value.subscriber %></span><br/>
						<span class="f-reg f-gray"><%= typeOfTelephony(value.ProductType) %></span>
					</div>
				</div>
			</div>

			<div id="phone<%= index %>" class="collapse"></div>

			<% }); %>

		</div>

		<% include footer %>

	</div>

</script>
