<script type="text/template" id="my_order">

	<div id="wrapper">
		<div class="stopfoot">

			<% include header %>

			<% include navmenu %>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Mis Ordenes</span>
				</div>
			</div>



			<div class="basicrow">
				<div class="container">
					<div class="basicrow f-little din-b m-top-ii">
						N&uacute;mero de Cuenta
					</div>

					<div class="basicrow text-center">
						<select id="select-account" class="selln f-bold f-med f-black">
							<% _.each(accounts, function(value, index) { %>
							<option value="<%= value.Account %>"  <%= value.Account==selectedAccountValue?'selected="selected"':'' %> >
							<%= value.Account %>
							</option>
							<% }); %>
						</select>
					</div>
				</div>
			</div>

			<div class="subtitle nbott din-b f-little text-center f-black m-top vcenter">
				<div class="tabcell">
					ORDENES
				</div>
			</div>
            
            <div class="linebMyOrders">
                <% if(!hasPackages) { %>
                    <%= showAlert('Error', 'No presenta paquetes activos', 'Aceptar') %>
                <% } %>  
                <% _.each(accountPackagesInfo.Subscribers, function(value, index) { %>
                    <% if(value.Packages && value.Packages[0]) { %>
                      <!-- [INIT ORDEN DE EJEMPLO] -->

                    <!--Init each for Package-->
                    <% _.each(value.Packages, function(package, index) { %>

                    <!-- init First conditional for data -->    
                    <% if(index == 0 || ( package.OfferId != value.Packages[index-1].OfferId) ) { %>
                    
                    <div class="basicrow">
                        <div class="c-ftitle">
                            <div class="c-frst din-b vcenter">
                                <div class="tabcell">
                                Suscriptor
                                </div>
                            </div>
    
                            <div class="c-scnd din-b vcenter">
                                <div class="tabcell">
                                Producto
                                </div>
                            </div>
    
                            <div class="c-thrd din-b vcenter">
                                <div class="tabcell">
                                Descripci&oacute;n
                                </div>
                            </div>
                        </div>
                          
                    <% } %>
                    <!-- END Firts conditional for data -->

                        <div class="cont-pack">
                            <div class="c-frst din-b vcenter">
                                <div class="tabcell">
                                    <%= value.SubcriberNumber %>
                                </div>
                            </div>
    
                            <div class="c-scnd din-b vcenter">
                                <div class="tabcell">
                                    <%= package.Name %>
                                </div>
                            </div>
    
                            <div class="c-thrd din-b vcenter">
                                <div class="tabcell">
                                    <%= package.Desc %>
                                </div>
                            </div>
                        </div>
                        <!-- END c-side right single package-->


                    <!-- init Last conditional for data -->    
                    <% if( !value.Packages[index+1] || package.OfferId != value.Packages[index+1].OfferId) { %>            
                                                                              
                    </div>
                        <div class="basicrow b-bord">
                            <div class="c-half-i din-b">
                                <div class="basicrow full-h vcenter">
                                    <div class="tabcell txt-center">
                                    Costo
                                    </div>
                                </div>
                            </div>

                            <div class="c-half-ii din-b">
                                <div class="basicrow din-b f-reg full-h vcenter">
                                    <div class="tabcell txt-center">
                                        <!--$4.99-->
                                        Recurrencia Autom&aacute;tica
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="basicrow b-bord m-bottom">
                            <div class="c-div-i din-b">
                                <div class="basicrow full-h vcenter">
                                    <div class="tabcell txt-center fblack">
                                        $<%= parseFloat(package.Price.toFixed(2)) %>
                                    </div>
                                </div>
                            </div>
                            <% if(packageShowItems[value.SubcriberNumber+'-'+package.OfferId].renewal) { %>                        
                            <div class="c-div-ii din-b">
                                <div class="basicrow din-b f-reg full-h vcenter">
                                    <div class="tabcell txt-center">
                                        <!--$4.99-->
                                        <input class="notification-switch" data-subscriber="<%= value.SubcriberNumber %>" data-offerid="<%= package.OfferId %>" data-baseOfferId="<%= value.BaseOfferID %>" data-size="mini" data-on-text="SI" data-off-text="NO" type="checkbox" id='<%=value.SubcriberNumber%>-<%=package.OfferId%>' checked="false">                                            
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>                    
                        
                    <% } %>
                    <!-- END Last conditional for data -->

                      <% }); %>
                      <!--END each for Package-->

                      <!-- [END ORDEN DE EJEMPLO] -->


                    <% } %>
                <% }); %>
            </div>
		</div>

		<% include footer %>

	</div>

</script>
