<script type="text/template" id="my_store">

	<div id="wrapper">
		<div class="stopfoot">

			<% include header %>

			<% include navmenu %>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Mi Tienda</span>
				</div>
			</div>
		</div>

		<% include footer %>

	</div>

</script>
