<script type="text/template" id="navmenu">

    <div class="navmenu navmenu-default navmenu-fixed-right offcanvas">
        <ul class="nav navmenu-nav">

            <li class="menu-list">
                <div class="sectbar btn-account" style="border-top: none;">
                    <div class="container rel">
                        <div class="sect-a vcenter">
                            <div class="tabcell">
                                <img class="sect-icon" width="100%" src="images/micon-i.png">
                            </div>
                        </div>

                        <div class="sect-b f-lmed f-bold f-black vcenter">
                            <div class="tabcell">
                                Mi Cuenta
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="menu-list">
                <div class="sectbar btn-invoice">
                    <div class="container rel">
                        <div class="sect-a vcenter">
                            <div class="tabcell">
                                <img class="sect-icon" width="100%" src="images/micon-ii.png">
                            </div>
                        </div>

                        <div class="sect-b f-lmed f-bold f-black vcenter">
                            <div class="tabcell">
                                Facturas y Pagos
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="menu-list">
                <div class="sectbar btn-consumption">
                    <div class="container rel">
                        <div class="sect-a vcenter">
                            <div class="tabcell">
                                <img class="sect-icon" width="100%" src="images/micon-iii.png">
                            </div>
                        </div>

                        <div class="sect-b f-lmed f-bold f-black vcenter">
                            <div class="tabcell">
                                Mi Consumo
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="menu-list">
                <div class="sectbar btn-device">
                    <div class="container rel">
                        <div class="sect-a vcenter">
                            <div class="tabcell">
                                <img class="sect-icon" width="100%" src="images/micon-iv.png">
                            </div>
                        </div>

                        <div class="sect-b f-lmed f-bold f-black vcenter">
                            <div class="tabcell">
                                Mis Equipos y Servicios
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="menu-list">
                <div data-toggle="collapse" data-target="#purchases" class="sectbar">
                    <div class="container rel">
                        <img id="arrow" class="sectarrow" width="100%" src="images/arrow-i.png">

                        <img id="arrow2" class="sectarrow" width="100%" src="images/arrow-ii.png">

                        <div class="sect-a vcenter">
                            <div class="tabcell">
                                <img class="sect-icon" width="100%" src="images/micon-vi.png">
                            </div>
                        </div>

                        <div class="sect-b f-lmed f-bold f-black vcenter">
                            <div class="tabcell">
                                Compras
                            </div>
                        </div>
                    </div>
                </div>

                <div id="purchases" class="collapse">
                    <div class="basicrow">
                        <div class="sectinbar btn-change-plan">
                            <div class="container norel f-lmed f-bold f-black vcenter">
                                <div class="tabcell">
                                    Cambiar Plan
                                </div>
                            </div>
                        </div>
                        <div class="sectinbar btn-add-aditional-data">
                            <div class="container norel f-lmed f-bold f-black vcenter">
                                <div class="tabcell">
                                    Paquete de Datos
                                </div>
                            </div>
                        </div>
                        
                        <div class="sectinbar btn-sva">
                            <div class="container norel f-lmed f-bold f-black vcenter">
                                <div class="tabcell">
                                    Servicios Adicionales
                                </div>
                            </div>
                        </div>

                        <div class="sectinbar btn-gift">
                            <div class="container norel f-lmed f-bold f-black vcenter">
                                <div class="tabcell">
                                    Regala 1GB a un Amigo Postpago
                                </div>
                            </div>
                        </div>
                        
                        <div class="sectinbar btn-gift-send-recharge">
                            <div class="container norel f-lmed f-bold f-black vcenter">
                                <div class="tabcell">
                                    Regala 1 Recarga a un Prepago
                                </div>
                            </div>
                        </div>
                        
                        <!-- <div class="sectinbar btn-my-order">
                            <div class="container norel f-lmed f-bold f-black vcenter">
                                <div class="tabcell">
                                    Mis Ordenes
                                </div>
                            </div>
                        </div>

                        <!-- <div class="sectinbar btn-my-store">
                            <div class="container norel f-lmed f-bold f-black vcenter">
                                <div class="tabcell">
                                    Tienda
                                </div>
                            </div>
                        </div> -->
                        
                    </div>
                </div>
            </li>

            <li class="menu-list">
                <div class="sectbar btn-profile">
                    <div class="container rel">
                        <div class="sect-a vcenter">
                            <div class="tabcell">
                                <img class="sect-icon" width="100%" src="images/micon-vii.png">
                            </div>
                        </div>

                        <div class="sect-b f-lmed f-bold f-black vcenter">
                            <div class="tabcell">
                                Mi Perfil
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="menu-list">
                <div class="sectbar btn-notifications">
                    <div class="container rel">
                        <div class="sect-a vcenter">
                            <div class="tabcell">
                                <img class="sect-icon" width="100%" src="images/micon-viii.png">
                            </div>
                        </div>

                        <div class="sect-b f-lmed f-bold f-black vcenter">
                            <div class="tabcell">
                                Factura Electr&oacute;nica y Notificaciones
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="menu-list">
                <div class="sectbar btn-chat">
                    <div class="container rel">
                        <div class="sect-a vcenter">
                            <div class="tabcell">
                                <img class="sect-icon" width="100%" src="images/micon-ix.png">
                            </div>
                        </div>

                        <div class="sect-b f-lmed f-bold f-black vcenter">
                            <div class="tabcell">
                                Chat
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="menu-list">
                <div class="sectbar b-line btn-logout">
                    <div class="container rel">
                        <div class="sect-a vcenter">
                            <div class="tabcell">
                                <img class="sect-icon" width="100%" src="images/logout.png">
                            </div>
                        </div>

                        <div class="sect-b f-lmed f-bold f-black vcenter">
                            <div class="tabcell">
                                Cerrar Sesi&oacute;n
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    
</script>
