<script type="text/template" id="passport">

	<div id="wrapper">
		<div class="stopfoot-i">

            <div class="headbar text-center vcenter">
                <div class="container rel vcenter">
                    <div class="tabcell">                        
                        <img class="headlogo" width="100%" src="images/miclarologo.png">
                    </div>
                </div>
            </div>

			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Listado de cuentas asociadas a su Pasaporte.</span>
				</div>
			</div>

            <div class="lineb m-top">
            
            	<% for (var i=0 ; i < accounts.length ; i++) { %>
                    
                	<% for (var j=0 ; j < accounts[i].Subscribers.length ; j++) { %>
                    
                        <div class="sectbar">
                            <div class="container rel">
                                <img class="sectarrow" width="100%" src="images/arrow-iii.png">

                                <div class="sect-full f-lmed f-red f-bold text-center vcenter btn-passport" data-account-subtype="<%= accounts[i].mAccountSubType %>" data-account="<%= accounts[i].Account %>" data-subscriber="<%= accounts[i].Subscribers[j].subscriber %>">
                                    <div class="tabcell" style="text-align: left;">
                                        <img style="margin-top: -4px;" width="25px" height="25px" src="images/pospaid-icon.png">
                                        <%= accounts[i].Subscribers[j].subscriber %>
                                    </div>
                                </div>
                            </div>
                        </div>
                	 <% } %>                    
                    
                <% } %>
                
            </div>

		</div>
        
		<% include footer %>

	</div>

</script>
