<script type="text/template" id="payment_confirmation">
		<!-- [INIT TOP CONTAINER] -->
		<div id="topcont">
			<div class="menucont gr-red vcenter">
				
				<div id="menu-icon-left">
					<img src="images/icon-back.png" width="100%;" alt="">
				</div>
				
				<div class="tabcell">
					<div class="menu-tittle text-center f-white din-b">
						Planes de Data Adicional
					</div>
				</div>

				<div id="menu-icon-right" class="btn-menu">
					<img src="images/icon-menu.png" width="100%;" alt="">
				</div>

			</div>
		</div>
		<!-- [END TOP CONTAINER] -->
		
		<!-- [INIT WRAP] -->
		<div id="bodycont">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="basicrow">

							<div class="tabcont-c border-b f-graydark-i din-b text-center">
								CONFIRMACI&Oacute;N DE ORDEN
							</div>

							<div class="tabcont-e border-b din-b f-red">
								CONFIRMACI&Oacute;N
							</div>

							<div class="tabcont-b">
								<div class="gray-textcon">
									<div class="basicrow">
										<span class="basicrow">¡Gracias! Su paquete de data compartida ha sido agregado a su cuenta.</span>
									</div>
								</div>
							</div>

							<div class="tab-btn-b">
								<a href="" class="btn-def btn-gray text-center radius-a vcenter">
									<div class="icon-btn">
										<img src="images/ex-btn.png" width="100%" alt="">
									</div>

									<div class="basicrow tabcell text-center f-gray">
										Cerrar
									</div>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>			
			
		</div>
		<!-- [END WRAP] -->

		<%include footer%>

</script>