<script type="text/template" id="plan_detail">

		<!-- [INIT TOP CONTAINER] -->
		<div id="topcont">
			<div class="menucont gr-red vcenter">
				
				<div class="btn-back" id="menu-icon-left">
					<img src="images/icon-back.png" width="100%;" alt="">
				</div>
				
				<div class="tabcell">
					<div class="menu-tittle text-center f-white din-b">
						Mi Plan
					</div>
				</div>

				<div id="menu-icon-right" class="btn-menu">
					<img src="images/icon-menu.png" width="100%;" alt="">
				</div>

			</div>
		</div>
		<!-- [END TOP CONTAINER] -->
		
		<!-- [INIT WRAP] -->
		<div id="bodycont">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="basicrow">

							<div class="tabcont-c border-b f-graydark-i din-b text-center">
								Descripci&oacute;n del Plan
							</div>
							
							<div class="tabcont-b border-b vcenter">
								<div class="tabcell">
									<div class="basicrow">
										<span class="f-bold f-graydark">
											Plan
										</span>

										<span class="pull-right f-red">
											<%= selectedSubscriberValue.PlanRate %>
										</span>
									</div>
								</div>
							</div>	
							
							<% if(tops != '') { %>
								<% _.each(tops, function(value, index) { %> 
								<div class="tabcont-b border-b vcenter">
									<div class="tabcell">
										<div class="basicrow">
											<span class="f-graydark">
												<%= value.PlanName %>
											</span>
	
											<span class="pull-right f-graydark">
												<%= value.QTY_INCLUDED %>
											</span>
										</div>
									</div>
								</div>
								<%})%>		
							<% } %>						

							<% if(svas != '') { %>
								<% _.each(svas, function(value, index) { %> 
								<div class="tabcont-b border-b vcenter">
									<div class="tabcell">
										<div class="basicrow">
											<span class="f-graydark">
												<%= value.Description %> 
											</span>
	
											<span class="pull-right f-graydark">
												$<%= parseFloat(value.Rent).toFixed(2) %>
											</span>
										</div>
									</div>
								</div>
								<%})%>		
							<% } %>	

							<div class="tabcont-b border-b vcenter">
								<div class="tabcell">
									<div class="basicrow">
										<span class="f-bold f-red">
											Renta Mensual
										</span>

										<span class="pull-right f-bold f-red">
											$<%= parseFloat(selectedSubscriberValue.TotalRate.replace('$','')).toFixed(2) %>
										</span>
									</div>
								</div>
							</div>	

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [END WRAP] -->   

		<%include footer%>
</script>