<script type="text/template" id="success_report">

    <div id="wrapper">
        <div class="stopfoot-i">

            <div class="headbar text-center vcenter">
                <div class="container rel vcenter">
                    <div class="tabcell">
                    
                        <% if (showBackBth) { %>
                        <div class="btn-back">
                            <img class="dispicon" width="100%" src="images/backicon2.png">
                        </div>
                        <% } %>
                    
                        <img class="headlogo" width="100%" src="images/miclarologo.png">
                    </div>
                </div>
            </div>
            
            <div class="w-cont din-b f-white">
                <div class="container">
                    <span class="f-med">Reporte Enviado</span>
                </div>
            </div>

            <div class="autobar f-reg text-justify f-black diffr">
                <div class="container">
                    Gracias. Tu mensaje ha sido enviado.
                </div>
            </div>

        </div>

    </div>

</script>
