<script type="text/template" id="touch_id_setup">

	<div id="wrapper">
		<div class="stopfoot-i">
        
            <div class="headbar text-center vcenter">
                <div class="container rel vcenter">
                    <div class="tabcell">

                        <img class="headlogo" width="100%" src="images/miclarologo.png">
                    </div>
                </div>
            </div>
            
			<div class="w-cont din-b f-white">
				<div class="container">
					<span class="f-med">Configuraci&oacute;n Touch ID</span>
				</div>
			</div>

            <div class="autobar no-bord f-reg f-black diffr">
                <div class="container">
                    <div class="basicrow text-center">
                        <img class="updateicon" width="95%" src="images/touchicon.png">
                    </div>

                    <div class="basicrow m-top-i f-bold text-left" style="margin-top: 20px;">
                        Ahora Iniciar Sesi&oacute;n en m&aacute;s f&aacute;cil
                    </div>

                    <div class="basicrow m-top text-justify">
                        Utiliza el Touch ID de tu dispositivo para iniciar sesi&oacute;n en Mi Claro App, solo tienes que configurar y registrar tu Huella Digital con unos simples pasos.
                    </div>

                    <div class="basicrow m-top-i f-bold text-left">
                        Nota:
                    </div>

                    <div class="basicrow text-justify">
                        <ul>
                            <li style="margin-top: 0;">
                                Las huellas dactilares almacenadas en el dispositivo podr&aacute;n ser utilizadas para acceder a la aplicaci&oacute;n Mi Claro.
                            </li>

                            <li style="margin-top: 0;">
                                S&oacute;lo se puede configurar Touch ID para un ID en l&iacute;nea a la vez.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="autobar diffr">
                <div class="container">
                    <div class="basicrow text-center f-bold f-black">
                        Configurar para: <span class="f-red"><%= login %></span>
                    </div>
                </div>
            </div>

            <div class="autobar diff">
                <div class="container">
                    <div id="btn-setup" class="r-btn text-center f-med f-white vcenter">
                        <div class="tabcell">
                            Configurar
                        </div>
                    </div>

                    <div id="btn-cancel" class="g-btn text-center f-med f-white vcenter">
                        <div class="tabcell">
                            Cancelar
                        </div>
                    </div>
                </div>
            </div>
            
		</div>

	</div>
        
	    
</script>
